@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url(../font/Gotham-Bold.otf);
}

@font-face {
    font-family: 'heijian';
    src: url(../font/heijian.TTF);
}
html, body {   
    font-family: 'heijian';
    overflow-x: hidden;
    color:white;
    /*将rem设置为10px*/
    font-size:62.5%; 
    -webkit-text-size-adjust:none;
    }
p{
    font-size: 1.6rem;
}
h1{
    font-size: 4.8rem;
    margin-bottom: 3rem;
}
h3{
    font-size: 1.8rem;
}
button:focus{outline:0;}
/*导航*/
#navback{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height:48px;
    background-color: #1D1D23;
    opacity: 0;
}
.nav{
    position: fixed;
    top: 30px;
    width: 86%;
    left: 7%;
    right:7%;
}
.logo{
    position: relative;
    display: inline;
    float:left;
    width:130px;
    height:30px;
}
.logo img{
    height:100%;
}
.logo a{
    text-decoration: none;
}
.dropdownmenu{
    position: relative;
    margin-left: 10vw;
}
.dropdownmenu ul {
    list-style: none;
    width: 100%;
   
}
.dropdownmenu li {
    float: left;
    position: relative;
    width:10vw;;
    line-height: 44px;
    top:-16px;
}
.dropdownmenu a {
    color: white;
    opacity: 0.6;
    display: block;
    font-size: 1.4rem;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
#gdesign a{
    opacity: 1;
}
.dropdownmenu li:hover a {
    color:white;
    opacity: 1;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 80px;  /* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}


#submenu li {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#submenu a:hover {
    background-color: #5376FF;
    color: white;

}
#submenu a {
    background-color:white;
    line-height: 4rem;
    color:#444553;
}
.tryNew{
    position: absolute;
    top:10px;
    right:10px;
    width:44px;
    height:26px;
    background-image: url("../image/trynew.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* .english{
    position: absolute;
    height: 30px;
    right: 0px;
    font-family: 'Gotham-Bold';
    width: auto;
}
.english p{
    line-height: 34px;
}


.english a{
text-decoration: none;
color: white;
} */


/*首页*/
#landing{
    position: fixed;
    width:100vw;
    height: 31vw;  
    overflow: hidden;
}
#back{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;
}

#front{
    position: absolute;
    left: 0px;
    top:0px;
    width:100%;
    height:31vw;
    background-color:black;
    opacity: 0.2;
}   


#title{
    position: relative;
    color: white;
    width:100vw;
    height: 31vw;  
    text-align: center;
}
#title h1{
    padding-top: 12vw;
    font-size:4vw;
    line-height: 4vw;
}
#title p{
    width: 86%;
    line-height: 3rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: .5vw;
    font-size: 1.6rem;
}
#title button{
    margin-top: 2vw;
    background-color: transparent;
    border:1px solid white;
    border-radius: 4px;
    height: 4rem;
    width: 10rem;
    color: white;
    font-size: 1.6rem;
}
#title button:hover{
    background-color: #5376FF;
    border:1px solid transparent;
}
/*内容区域*/
#scroll{
    position: relative;
    width: 100vw;
    background-color: #131315;
}


/*能力优势*/
#pro{
    position: relative;
    padding-top: 1%;
    padding-bottom: 3%;
    width:100%;
}
#proSub{
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}
#proicon1,#proicon2,#proicon3{
    width:25vw;
    height:25vw;
}
#proicon1 .icon2{
    position: absolute;
    top:2vw;
    left:1vw;
    width:20vw;
    height: 25vw;
    background-image: url(../image/qianzhang.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon1 .icon1{
    position: absolute;
    right: 3vw;
    top:6vw;
    width:8vw;
    height: 8vw;
    background-color: #3F1698;
}

#proicon2 .icon1{
    position: absolute;
    top:4.5vw;
    left:5vw;
    width:7vw;
    height: 7vw;
    background-image: url(../image/dute1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon2 .icon2{
    position: absolute;
    top:5.5vw;
    right:5.5vw;
    width:6.5vw;
    height: 6.5vw;
    background-image: url(../image/dute2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon2 .icon3{
    position: absolute;
    top:12.7vw;
    left:6.5vw;
    width:5.5vw;
    height: 5.5vw;
    background-image: url(../image/dute3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon2 .icon4{
    position: absolute;
    top:13.2vw;
    right:5vw;
    width:7vw;
    height: 7vw;
    background-color: #3F1698;
}

#proicon3 .icon1{
    position: absolute;
    top:7.5vw;
    left:2.5vw;
    width:8vw;
    height: 8vw;
    background-color: #3F1698;
}
#proicon3 .icon2{
    position: absolute;
    top:4.5vw;
    left:6vw;
    width:11.5vw;
    height: 16vw;
    background-image: url(../image/baozheng2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#proicon3 .icon3{
    position: absolute;
    top:6vw;
    right:1vw;
    width:10vw;
    height: 10vw;
    border-radius: 5vw;
    background-image: url(../image/baozheng2.png);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 0 40%;
}
.proSub1{
    position: relative;
    width:25vw;
    height: auto;
    display: inline-block;
}
.proh3{
    position: relative;
    display: inline-block;
    width:100%;
    height: 2.4rem;
    line-height: 2.4rem;
}
.prop{
    position: relative;
    display: inline-block;
    width:100%;
    line-height: 30px;
}
#proSub h3{
    position: relative;
    width:100%;
    text-align: center;
}
#proSub p{
    position: relative;
    width:100%;
    text-align: center;
    margin-top: 2rem;
}

/*学习过程*/
#studyProcess{
    position: relative;
    padding-top: 10%;
    padding-bottom: 6%;
    width: 100%;
    height:auto;
}
#studyProcess video{
    width: 100%;
    height: 100%;
}
#studyInfo{
    position: relative;
    width: 100%;
    text-align: center;
}
#studyInfo p{
    position: relative;
    width: 100%;
    line-height: 2.4rem;
    height: 2.4rem;
}
#videoStudy{
    position: relative;
    margin:0 auto;
    margin-top:6rem;
    width: calc(160vw * 0.35);
    height:calc(90vw * 0.35);
}
#dec1,#dec2,#dec3,#dec4{
    position: absolute;
}
#dec1{
    left:15vw;
    top:40vh;
    width:20rem;
    height:15rem;
    background-color: #6066FF;
}
#dec2{
    right:15vw;
    bottom: 20vh;
    width:20rem;
    height:15rem;
    background-color: #6066FF;
}
#dec3{
    left:7vw;
    bottom: 20vh;
    width:15rem;
    height:8rem;
    background-color: #3F1698;
}
#dec4{
    right: 7vw;
    top:35vh;
    width:15rem;
    height:8rem;
    background-color: #3F1698;
}
/*能力演示*/
#demo{
    position: relative;
    padding-top: 10%;
    padding-bottom: 6%;
    width: 100%;
    height:auto;
}
#demo p{
    text-align: center;
    line-height: 2.4rem;
}
#demo p a{
    color: #5376FF;
    text-decoration: none;
}
#demo h1{
    text-align: center;
}
#demo img{
    position: absolute;
    width: 100%;
}
.download{
    position: absolute;
    left:2rem;
    bottom: 0.5rem;
    width:2rem;
    height:3rem;
    background: transparent;
    border: none;
    background-image: url("../image/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
}

#demoPart{
    position: relative;
    width:100%;
    margin-top: 6rem;
}
#demoTitle{
    position: relative;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    height: 5rem;
}
#demoTitle p{
    position: absolute;
    left:0;
    line-height: 4rem;
}
#demoTitle div{
    position: absolute;
    right:0;
}
#demoTitle button{
    position: relative;
    display: inline;
    margin-left: 1rem;
    width:8rem;
    height: 4rem;
    border-radius: 4px;
    border:1px solid white;
    color:white;
    background-color: transparent;
}
#demoFirstline{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

#demoFirstline div{
    position: relative;
    display: inline-block;
    width:16.8vw;
    height:8.4vw;
    /* overflow: hidden; */
    border: 2px solid transparent;
}
#demoFirstline img{
    position: relative;
    width:100%;
    height:auto;
}
.arrow{
    position: relative;
    width: 100%; 
    height: 40px;
    background-image: url("../image/arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -30px;
    display: none;
}
#demoFirstline div:hover{
    border: 2px solid #5375FF;
}
#demoSecondline{
    position: relative;
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;  
}

#demoSecondline div{
    position: relative;
    display: inline-block;
    width:16.8vw;
    height:8.4vw;
    /* overflow: hidden; */
    border: 2px solid transparent;
}
#demoSecondline img{
    position: relative;
    width:100%;
    height:auto;
}
#demoSecondline div:hover{
    border: 2px solid #5375FF;
}

/*添加的dom节点*/
#adddom{
    position: relative;
    margin-top:10px;
    background-color: #444553;
}
#domTitle{
    position: relative;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 4rem;
    height: 5rem;
}
#domTitle p{
    position: absolute;
    left:0;
    line-height: 4rem;
    color: white;
}
#domTitle div{
    position: absolute;
    right:0;
}
#domTitle button{
    position: relative;
    display: inline;
    margin-left: 1rem;
    width:3rem;
    height: 4rem;
    background-image: url("../image/change.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    opacity: .7;
}
#domTitle button:hover{
    opacity: 1;
}
#domFirst{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}
#domFirst div{
    position: relative;
    display: inline-block;
    width:16.8vw;
    height:8.4vw;
    overflow: hidden;
    border: 2px solid transparent;
}
#domFirst div:hover{
    border: 2px solid #5375FF;
}
#domSecond{
    position: relative;
    margin-top: 0.5vw;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}
#domSecond div{
    position: relative;
    display: inline-block;
    width:16.8vw;
    height:8.4vw;
    overflow: hidden;
    border: 2px solid transparent;
}
#domSecond div:hover{
    border: 2px solid #5375FF;
}
/* #arrow{
    position: relative;
    width: 0; 
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color:transparent transparent #444553 transparent;
    margin-left: calc(7% + 8vw);
    margin-top: -15px;
} */
#demoloading{
    position: relative;
    width:100vw;
    height:10rem;
    margin-top: 10rem;
    background-image: url(../image/demoloading.png);
    background-size: 10rem auto;
    background-position: center 0;
    background-repeat: repeat-y;
}
#domloading{
    position: relative;
    width:100vw;
    height:10rem;
    background-image: url(../image/demoloading.png);
    background-size: 10rem auto;
    background-position: center 0;
    background-repeat: repeat-y;
}
/*案例*/
#case{
    position: relative;
    padding-top: 10%;
    padding-bottom: 6%;
    width: 100%;
    height: auto;
}
#caseInfo{
    position: relative;
    width: 100%;
    text-align: center;
}

#caseInfo p{
    position: relative;
    width: 100%;
    line-height: 2.4rem;
    height: 2.4rem;
}
#pic4{
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    margin-top:6rem;
    display: flex;
    justify-content: space-between;
}
#packaging,#advertising,#brand{
    width:28.4vw;
}
/* 为了对齐凑的 */
#packaging,#brand{
    margin-top:35px;
}
#packUp{
    width:28.4vw;
    height:16.4vw;
    background-image: url(../image/pack3.png);
    background-size: cover;
    background-position: center;
}
#packLeft,#adverLeft,#brandLeft{
    display: inline-block;
    float: left;
}
#packRight,#adverRight,#brandRight{
    display: inline-block;
    float: right;
}

#packLeft1{
    width:14vw;
    height:8vw;
    background-image: url(../image/casedec1.png);
    background-size: cover;
    margin-top:0.4vw;
}
#packLeft2{
    width:14vw;
    height:8vw;
    background-image: url(../image/pack1.png);
    background-size: cover;
    margin-top:0.4vw;
}
#packLeft3{
    width:14vw;
    height:8vw;
    background-color: #FFC903;
    margin-top:0.4vw;
}
#packLeft3 h1{
    font-size: 1.5vw;
    text-align: center;
    line-height: 8vw;
}
#packRight1{
    width:14vw;
    height:16.4vw;
    background-image: url(../image/pack2.png);
    background-size: cover;
    background-position: center;
    margin-top:0.4vw;
}
#packRight2{
    width:14vw;
    height:8vw;
    background-image: url(../image/casedec2.png);
    background-size: cover;
    margin-top:0.4vw;
}

#adverLeft1{
    width:14vw;
    height:8vw;
    background-image: url(../image/adver2.jpg);
    background-size: cover;
}
#adverLeft2{
    width:14vw;
    height:8vw;
    background-image: url(../image/casedec3.png);
    background-size: cover;
    margin-top:0.4vw;
}
#adverLeft3{
    width:14vw;
    height:8vw;
    background-color: #3E62F6;
    margin-top:0.4vw;
}
#adverLeft3 h1{
    font-size: 1.2vw;
    text-align: center;
    line-height: 8vw;
}
#adverLeft4{
    width:14vw;
    height:8vw;
    background-image: url(../image/adver1.png);
    background-size: cover;
    margin-top:0.4vw;
}
#adverLeft5{
    width:14vw;
    height:8vw;
    background-image: url(../image/case10.png);
    background-size: cover;
    margin-top:0.4vw;
    background-position: right;
}
#adverRight1{
    width:14vw;
    height:8vw;
    background-image: url(../image/adver3.jpg);
    background-size: cover;
    background-position: right;
}
#adverRight2{
    width:14vw;
    height:16.4vw;
    background-image: url(../image/adver4.jpg);
    background-size: cover;
    margin-top:0.4vw;
}
#adverRight3{
    width:14vw;
    height:8vw;
    background-image: url(../image/casedec4.png);
    background-size: cover;
    margin-top:0.4vw;
}
#adverRight4{
    width:14vw;
    height:8vw;
    background-image: url(../image/adver5.png);
    background-size: cover;
    margin-top:0.4vw;
}

#brandLeft1{
    width:14vw;
    height:8vw;
    background-color: #E1031A;
}
#brandLeft1 h1{
    font-size: 2vw;
    text-align: center;
    line-height: 8vw;
}
#brandLeft2{
    width:14vw;
    height:8vw;
    background-image: url(../image/brand1.png);
    background-size: cover;
    background-position: center;
    margin-top:0.4vw;
}
#brandLeft3{
    width:14vw;
    height:8vw;
    background-image: url(../image/brand3.jpg);
    background-size: cover;
    margin-top:0.4vw;
}
#brandLeft4{
    width:14vw;
    height:16.4vw;
    background-image: url(../image/brand2.png);
    background-size: cover;
    margin-top:0.4vw;
}
#brandRight1{
    width:14vw;
    height:8vw;
    background-image: url(../image/casedec5.png);
    background-size: cover;
}
#brandRight2{
    width:14vw;
    height:8vw;
    background-color: #2D2D2F;
    margin-top:0.4vw;
}
#brandRight2 h1{
    font-size: 1.5vw;
    text-align: center;
    line-height: 8vw;
}
#brandRight3{
    width:14vw;
    height:16.4vw;
    background-image: url(../image/inter1.png);
    background-size: cover;
    margin-top:0.4vw;
}
#brandRight4{
    width:14vw;
    height:8vw;
    background-image: url(../image/casedec6.png);
    background-size: cover;
    margin-top:0.4vw;
}
.gray{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.gray:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
/*更多信息*/
#more{
    position: relative;
    padding-top: 15%;
    padding-bottom: 10%;
    width:100%;
    /*background: black;*/
}
#moreInfo{
    position: relative;
    width: 100%;
    text-align: center;
}
#moreInfo h1{
    font-size: 2.4rem;
}

#moreSub{
    position: relative;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}
#moreSub div{
    display: inline-block;
    float: left;
    margin-right: 2rem;
    height:7rem;
}
.othericon{
    width:7rem;
    height:7rem;
    border-radius: 4rem;
    border: 5px solid white;
    background-image: url(../image/other.svg);
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    background-position: 50% 50%;
}
#moreSub div:hover .othericon{
    background-position: 90% 50%;
    animation: bounce-right 1s linear infinite;
    -webkit-animation: bounce-right 1s linear infinite;
    -moz-animation: bounce-right 1s linear infinite;
    -o-animation: bounce-right 1s linear infinite;
}
@keyframes bounce-right {
    0% {background-position: 50% 50%;}
    25%{background-position: 70% 50%;}
    75%{background-position: 70% 50%;}
    100% {background-position: 50% 50%;}
}
#moreSub h3{
    width: 100%;
    line-height: 5rem;
}
#moreSub p{
    width: 100%;
    line-height: 2rem;
    opacity: 0.6;
}


/*页面尾部*/
#footer{
    position: relative;
    width:86vw;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background-color: #1E1E23;
    display: flex;
    justify-content: space-between;
}

#leftSide div{
    width:25rem;
    height:1.5rem;
    background-image: url("../image/footerLogo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 2.5rem;
}
#groupName{
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
#email{
    font-size: 1.2rem;
    opacity: 0.6;
    line-height: 2rem;
}

#rightSide{
    transform: translate(0,-0.5rem);
}
#rightSide div{
    display: inline-block;
    width:8rem;
    height: 8rem;
    background-image: url("../image/contact.jpeg");
    background-size: contain;
}
#rightSide p{
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
    line-height: 2rem;
    text-align: right;
}
#line{
    position: relative;
    width:100%;
    height:1px;
    background-color: white;
    opacity: 0.1;
}
#middleSide{
    background-color: #1E1E23;
}
#middleSide p{
    position: relative;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width:100%;
    text-align: center;
}
#middleSide span{
    opacity: 0.6;
}
.mobileNav-details{
    display: none;
}

@media screen and (max-width:768px){
    p{
        font-size: 1.4rem;
    }
    h1{
        font-size:9vw;
        line-height: 12vw;
        margin-bottom: 0rem;
    }
    /* 移动端导航 */
    .nav{
        top: 20px;
    }
    .logo{
        width:100px;
    }
    .dropdownmenu{
        display: none;
    }
    .mobileNav{
        position: fixed;
        top: 23px;
        right:7vw;
        width:22px;
        height:22px;
        z-index: 1000;
    }
    .line{
        position: absolute;
        width:100%;
        height:2px;
        background-color: white;
        border-radius: 4px;
    }
    .line1{
        width:22px;
        top:2px;
        transform-origin: 0 2px;
        transition: all .2s;
    }
    .line2{
        top:9.5px;
        transition: all .2s;
    }
    .line3{
        width:22px;
        bottom:2px;
        transform-origin: 0 2px;
        transition: all .2s;
    }

    .mobileNav-details{
        display: block;
        position: fixed;
        top:0;
        right:0;
        width:0;
        height:100%;
        background-color: black;
        transition: all .2s;
        overflow: hidden;
        z-index: 999;
    }
    .Navdetails{
        position: relative;
        margin:0 auto;
        width:36vw;
        height:10vh;
        margin-bottom:4vh;
        border-radius: 10px;
        color: white;
    }
    .Navdetails h3{
        position: absolute;
        font-size: 1.6rem;
        line-height: 1.6rem;
        left:4vw;
        top:3vh;
    }
    .Navdetails1{
        margin-top: 10vh;
        background: linear-gradient(180deg, #DEDEDE 0%, #CFCFCF 100%);
        color:#444553;
    }
    .Navdetails2{
        background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
    }
    .Navdetails3{
        background: linear-gradient(90deg, #4B78C0 0%, #B8D8FF 100%);
    }
    .Navdetails4{
        background: linear-gradient(287deg, #FAD961 0%, #F8A06F 100%);
    }
    .Navdetails5{
        background: linear-gradient(180deg, #4A90E2 0%, #3D78FF 100%);
    }
    .Navdetails6{
        margin-bottom: 0;
        background: linear-gradient(180deg, #383838 0%, #828282 100%);
    }
    .navPic{
        position: absolute;
        right:-6vw;
        top:-3vh;
        width:60%;
        height:150%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navPic1{
        background-image: url("../image/nav1.png");
    }
    .navPic2{
        background-image: url("../image/nav2.png");
    }
    .navPic3{
        background-image: url("../image/nav3.png");
    }
    .navPic4{
        background-image: url("../image/nav4.png");
    }
    .navPic5{
        background-image: url("../image/nav5.png");
    }
    .navPic6{
        background-image: url("../image/nav6.png");
    }

    .navDec1{
        position: absolute;
        top:10vw;
        left:10vw;
        width:10vw;
        height:10vw;
        border-radius: 10vw;
        background: linear-gradient(180deg, #4A90E2 0%, #3D78FF 100%);
    }
    .navDec2{
        position: absolute;
        bottom:10vw;
        right:10vw;
        width:10vw;
        height:10vw;
        border-radius: 10vw;
        background: linear-gradient(180deg, #4A90E2 0%, #3D78FF 100%);
    }
    .navDec3{
        position: absolute;
        top:23vh;
        left:28vw;
        width:5vw;
        height:5vw;
        border-radius: 5vw;
        background: linear-gradient(287deg, #FAD961 0%, #F8A06F 100%);
    }
    .navDec4{
        position: absolute;
        top:45vh;
        right:-3vw;
        width:20vw;
        height:20vw;
        border-radius: 20vw;
        background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
    }

    /* landing的部分 */
    #landing,#front{
        width:300vw;
        height: 90vw;  
    }
    #title{
        width:300vw;
        height: 90vw;  
        text-align: left;
        margin-left: 7%;
    }
    #title h1{
        padding-top:30vw;
        font-size:9vw;
        line-height: 12vw;
        margin-bottom: 1vw;
    }
    #title h1 span{
        display:block; 
        white-space:pre-wrap;
    }
    #title p{
        width: 86vw;
        line-height: 2rem;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 1.4rem;
    }
    #title button{
        background-color:#5376FF;
        border:none;
        width: 8rem;
        font-size: 1.4rem;
    }
    /* 能力又优势 */
    #proSub{
        display: block;
        margin-top: 0;
        
    }
    .proSub1,.proSub2,.proSub3{
        width:100%;
        height:100%;
        margin-top: 15vh;
    }
    #proicon1,#proicon2,#proicon3{
        width:75vw;
        height:75vw;
    }
    #proicon1 .icon2{
        top:6vw;
        left:3vw;
        width:60vw;
        height: 75vw;
    }
    #proicon1 .icon1{
        right:9vw;
        top:18vw;
        width:24vw;
        height: 24vw;
    }

    #proicon2 .icon1{
        top:13.5vw;
        left:17vw;
        width:21vw;
        height:21vw;
    }
    #proicon2 .icon2{
        top:16.5vw;
        right:18.5vw;
        width:19.5vw;
        height: 19.5vw;
        
    }
    #proicon2 .icon3{
        top:38.1vw;
        left:21.5vw;
        width:16.5vw;
        height: 16.5vw;
      
    }
    #proicon2 .icon4{
        top:39.6vw;
        right:17vw;
        width:21vw;
        height: 21vw;
    }

    #proicon3 .icon1{
        top:22.5vw;
        left:7.5vw;
        width:24vw;
        height: 24vw;
    }
    #proicon3 .icon2{
        top:13.5vw;
        left:18vw;
        width:34.5vw;
        height:48vw;
    }
    #proicon3 .icon3{
        top:18vw;
        right:3vw;
        width:30vw;
        height:30vw;
        border-radius: 15vw;
    }
    #proSub p{
        margin-top: 0rem;
    }
    
    /* 学习过程 */
    #dec1,#dec2,#dec3,#dec4{
        display: none;
    }
    #studyProcess,#demo,#case,#more{
        padding-top: 15vh;
    }
    #studyInfo{
        width: 86%;
        text-align: left;
        margin-left: 7vw;
    }
    #videoStudy{
        margin-top:4rem;
        width: calc(160vw * 0.53);
        height:calc(90vw * 0.53);
    }
    /* 能力演示 */
    #demo{
        /* margin-left: 7vw; */
        width: 100%;
    }
    #demo p{
        text-align: left;
        width:86%;
        margin-left: 7%;
    }
    #demo h1{
        text-align: left;
        width:86%;
        margin-left: 7%;
    }
    #demoFirstline .mobileHideDiv,#demoSecondline .mobileHideDiv{
        display: none;
        overflow: hidden;
    }
    #demoFirstline div,#demoSecondline div{
        width:28vw;
        height:14vw;
    }
    #domFirst .mobileHideDiv,#domSecond .mobileHideDiv{
        display: none;
        overflow: hidden;
    }
    #domFirst div,#domSecond div{
        width:28vw;
        height:14vw;
    }
    #demoTitle button,#domTitle button{
        width:6rem;
        height: 3rem;
    }
    
    #demoTitle p,#domTitle p{
        margin-left: 0;
        line-height: 3rem;
    }
    #demoPart{
        margin-top: 4rem;
    }
    .download{
        display: none;
    }
    #demoTitle{
        height: 4rem;
    }
    #domTitle{
        padding-top: 2rem;
        height:4rem;
    }
    #domTitle button{
        width:2rem;
    }
    #domSecond{
        padding-bottom: 2rem;
    }
    .arrow{
        height: 20px;
        margin-top: -10px;
    }
    #adddom{
        margin-top:4px;
    }
    
    #demoloading{
        margin-top: 2rem;
    }
    /* 案例 */
    #caseInfo{
        text-align: left;
        margin-left: 7vw;;
    }
    #pic4{
        margin-top:4rem;
        display: inline-block;
    }
    #packaging,#advertising,#brand{
        width:100%;
    }
    #packaging,#brand{
        margin-top:0px;
    }
    #packUp{
        width:86vw;
        height:50vw;
    }
    
    #packLeft1,#packLeft2,#packLeft3,#packRight1,#packRight2,#packRight3,#adverLeft1,#adverLeft2,#adverLeft3,#adverLeft4,#adverLeft5,#adverRight1,#adverRight2,#adverRight3,#adverRight4,#brandLeft1,#brandLeft2,#brandLeft3,#brandLeft4,#brandRight1,#brandRight2,#brandRight3,#brandRight4{
        width:42vw;
        height:24vw;
        margin-top:2vw;
    }
    #packLeft3 h1,#adverLeft3 h1,#brandLeft1 h1,#brandRight2 h1{
        font-size: 4vw;
        line-height: 24vw;
    }
    #packRight1,#adverRight2,#brandLeft4,#brandRight3{
        height:50vw;
    }
    .gray{
        -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    }
    /* 更多信息 */
    #moreSub{
        margin-top: 4rem;
        width:20rem;
    }
    #moreSub div{
        display: block;
        width: 5rem;
        height:5rem;
        margin-right: 0rem;
    }
    .othericon{
        width:5rem;
        height:5rem;
        border-radius: 4rem;
        border: 5px solid white;
        background-size: 2rem 2rem;
        border: 2px solid white;

        animation: bounce-right 1s linear infinite;
    -webkit-animation: bounce-right 1s linear infinite;
    -moz-animation: bounce-right 1s linear infinite;
    -o-animation: bounce-right 1s linear infinite;
    }
    #more{
        padding-bottom: 15vh;
    }
    #moreSub h3{
        /* font-size: 1.6rem; */
        display: none;
    }
    #moreSub p{
        margin-top: 4px;
        font-size: 1.2rem;
        opacity: 1;
        text-align: center;
    }
    /* 页面尾部 */
    #footer{
        padding-top: 3rem;
        padding-bottom: 2rem;
        
    }
    #leftSide div{
        width:40vw;
        padding-bottom: 1rem;
    }
    #rightSide p{
        display:none;
    }
    /* #middleSide p{
        font-size: 8px;
    } */
    
}










    





        






   






