@charset "UTF-8";

@font-face {
    font-family: 'Gotham-Bold';
    src: url(../font/Gotham-Bold.otf);
}

@font-face {
    font-family: 'heijian';
    src: url(../font/heijian.TTF);
}
* {
  margin: 0;
  padding: 0;
}
button:focus{outline:0;}
textarea:focus{outline: :0;}

html, body {   
    font-family:'heijian';
    overflow-y: hidden;
    overflow-x: hidden;
    color:#444553;
    /*将rem设置为10px*/
    font-size:62.5%; 
    -webkit-text-size-adjust:none;
    }
h2,h3,p{
    font-size: 1.6rem;
    line-height: 1.6rem;
}
button{
    font-size: 1.6rem;
    font-weight: normal;
    color: #444553;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
}
#loading{
    position: fixed;
    width:100vw;
    height:100vh;
    background-color: black;
}
#loading p{
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 100vh;
}
/*导航*/
.nav{
    position: fixed;
    top: 30px;
    width: auto;
    left: 7%;
    right:7%;
}
.logo{
    position: relative;
    display: inline;
    float:left;
    width:130px;
    height:30px;
}
.logo img{
    height:100%;
}
.logo a{
    text-decoration: none;
}
.dropdownmenu{
    position: relative;
    margin-left: 10vw;
}
.dropdownmenu ul {
    list-style: none;
    width: 100%;
   
}
.dropdownmenu li {
    float: left;
    position: relative;
    width:10vw;;
    line-height: 44px;
    top:-16px;
}
.dropdownmenu a {
    color: #444553;
    opacity: 0.5;
    display: block;
    font-size: 1.4rem;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
#homepage a{
    opacity: 1;
}
.dropdownmenu li:hover a {
    color:#444553;
    opacity: 1;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 80px;  /* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}


#submenu li {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#submenu a:hover {
    background-color: #5376FF;
    color: white;

}
#submenu a {
    background-color:white;
    line-height: 4rem;
    color:#444553;
}

.english{
    position: absolute;
    height: 30px;
    right: 0px;
    font-family: 'Gotham-Bold';
    width: auto;
}
.english p{
    line-height: 34px;
}


.english a{
text-decoration: none;
color: #444553;
}


#noticeUs{
    position: fixed;
    bottom: 30px;
    right:7%;
    width:15rem;
}
.contact{
    position: fixed;
    bottom: 30px;
    right:7%;
    width:26px;
    height:26px;
}
.contact img{
    position: absolute;
    width:26px;
    height:26px;
    right:0;
    bottom: 0;
}
#noticeUsTitle{
    position: relative;
    width:10rem;
    margin-left: -2rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #3E62F6;
    text-align: center;
    opacity: 0;
}
#noticeUsTitle p{
    line-height: 4rem;
}
#noticeQR{
    position: relative;
    width:15rem;
    height:15rem;
    background-image: url("../image/contact.jpeg");
    background-size: contain;
    opacity: 0;
}


#pagenumber{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 4%;
    width:16px;
    height:130px;
            }

.pagenumber{
    position: absolute;
    width:14px;
    height:28px;
    border:2px solid #444654;
    opacity: 0.6;
    border-radius: 15px;
}
#pagedot{
    position: absolute;
}
#dot1,#dot2,#dot3,#dot4,#dot5{
    position: relative;
    background-color: #444654;
    opacity: 0.6;
    width:5px;
    height:5px;
    border-radius: 2.5px;
    margin-top:7px;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 5px;
}
div #dot1{
    margin-bottom: 35px;
    animation: dothint 1s linear infinite;
    -webkit-animation: dothint 1s linear infinite;
    -moz-animation: dothint 1s linear infinite;
    -o-animation: dothint 1s linear infinite;
}
@keyframes dothint{
    25% {transform: translateY(-1px);}
    50%{transform: translateY(0);}
    75% {transform: translateY(6px);}
    100% {transform: translateY(0);}
}

/*页面通用*/
.page {
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow: hidden;
    }
.back{
    position:absolute;
    top:0%;
    background: #F7F7F7;
    background-image: radial-gradient(#D5D5D7 4%, transparent 0);
    background-size: 60px 60px;
    width:100%;
    height:100%; 
    
}
.textmodel{ 
    position: relative;
    width:100%;
    margin-top:15vh;
    text-align: center;
    color: #191919;
   
}
.textmodel h1{
    font-size: 3rem;
}


.sub p{
    font-size: 1.6rem;
    line-height: 3rem;
}

/*第一页*/
.front{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.15;
    display: none;
}

#textmodel1{
    position: absolute;
    left:7%;
    top:50%;
    transform: translate(0,-50%);
    text-align: left;
}
#textmodel1 h1{
    color: #444553;
    font-size: 5vw;
    line-height: 7vw;
}
#textmodel1 p{
    font-size: 1.6rem;
    line-height: 3rem;
}

/*飞着的小块块*/
.flyDec{
    position: absolute;
    width: 100vw;
    height: 70vh;
    top:50%;
    transform: translate(0,-50%);
}

#rect2{
    position: absolute;
    width:3vh;
    height: 8vh;
    background-color: #9254FD;
    top:-15vh;
    left:35vw;
    animation: flying1 12s linear infinite;
    -webkit-animation: flying1 12s linear infinite;
    -moz-animation: flying1 12s linear infinite;
    -o-animation: flying1 12s linear infinite;
}
#rect3{
    position: absolute;
    width:2vh;
    height: 10vh;
    background-color: #747CFF;
    top:-30vh;
    left:40vw;
    animation: flying2 8s linear infinite;
    -webkit-animation: flying2 8s linear infinite;
    -moz-animation: flying2 8s linear infinite;
    -o-animation: flying2 8s linear infinite;
}
#rect4{
    position: absolute;
    width:4vh;
    height: 10vh;
    background-color: #E96EFB;
    top:-30vh;
    right:25vw;
    animation: flying2 12s linear infinite;
    -webkit-animation: flying2 12s linear infinite;
    -moz-animation: flying2 12s linear infinite;
    -o-animation: flying2 12s linear infinite;
}
#rect5{
    position: absolute;
    width:3vh;
    height: 8vh;
    background-color: #9254FD;
    top:-15vh;
    right:30vw;
    animation: flying1 4s linear infinite;
    -webkit-animation: flying1 4s linear infinite;
    -moz-animation: flying1 4s linear infinite;
    -o-animation: flying1 4s linear infinite;
}
#rect6{
    position: absolute;
    width:4vh;
    height: 10vh;
    background-color: #6C72FF;
    top:-15vh;
    right:20vw;
    animation: flying1 8s linear infinite;
    -webkit-animation: flying1 8s linear infinite;
    -moz-animation: flying1 8s linear infinite;
    -o-animation: flying1 8s linear infinite;
}
@keyframes flying1 {
    0% {transform: translateY(-15vh);}
    
    100% {transform: translateY(115vh);}
}
@keyframes flying2 {
    0% {transform: translateY(-30vh);}
    
    100% {transform: translateY(110vh);}
}
#landing{
            opacity: 0;
        }
/*动起来的小元素们*/
#moveDec{
    position: absolute;
    width:86%;
    height:100%;
    left:7%;
    right: 7%;
}
.landinginner{
    position: absolute;
    width:40vw;
    height:40vw;
    overflow: hidden;
    top:50%;
    transform: translate(-50%,-50%);
    left: 65%;
    background-image: url('../image/landing.png');
    background-size:cover;
    background-repeat: repeat-y;
    background-position: 0 0;
}
.landingwink{
    position: absolute;
    width:40vw;
    height:40vw;
    overflow: hidden;
    top:50%;
    transform: translate(-50%,-50%);
    left: 65%;
    background-image: url('../image/landingwink.png');
    background-size:cover;
    background-repeat: repeat-y;
    background-position: 0 0;
}
#move1{
    position: absolute;
    background-size: contain;
    background-image: url("../image/bluesqure.png");
    background-repeat: no-repeat;
    top:14vh;
    left:68vw;
    width:10vw;
    height:10vw;
    animation: moveDown 3.72s linear infinite;
    -webkit-animation: moveDown 3.72s linear infinite;
    -moz-animation: moveDown 3.72s linear infinite;
    -o-animation: moveDown 3.72s linear infinite;
}
#move2{
    position: absolute;
    background-size: contain;
    background-image: url("../image/purpletriangle.png");
    background-repeat: no-repeat;
    bottom:25vh;
    left:71vw;
    width:8vw;
    height:8vw;
    animation: moveUp 3.72s linear infinite;
    -webkit-animation: moveUp 3.72s linear infinite;
    -moz-animation: moveUp 3.72s linear infinite;
    -o-animation: moveUp 3.72s linear infinite;
}
#move3{
    position: absolute;
    background-size: contain;
    background-image: url("../image/grayline.png");
    background-repeat: no-repeat;
    top:55vh;
    transform: translate(-50%,-50%);
    left:63vw;
    width:40vw;
    height:40vw;
}
#move4{
    position: absolute;
    background-size: contain;
    background-image: url("../image/bluecircleright.png");
    background-repeat: no-repeat;
    bottom:4vh;
    left:34vw;
    width:22vw;
    height:22vw;
    animation: moveUp 3.1s linear infinite;
    -webkit-animation: moveUp 3.1s linear infinite;
    -moz-animation: moveUp 3.1s linear infinite;
    -o-animation: moveUp 3.1s linear infinite;
}
#move5{
    position: absolute;
    background-size: contain;
    background-image: url("../image/bluecirclemiddle.png");
    background-repeat: no-repeat;
    bottom:14vh;
    left:52vw;
    width:18vw;
    height:9vw;
    animation: moveDown 3.1s linear infinite;
    -webkit-animation: moveDown 3.1s linear infinite;
    -moz-animation: moveDown 3.1s linear infinite;
    -o-animation: moveDown 3.1s linear infinite;
}
#move6{
    position: absolute;
    background-size: contain;
    background-image: url("../image/pinkcircle.png");
    background-repeat: no-repeat;
    top:25vh;
    left:26vw;
    width:7vw;
    height:7vw;
    animation: moveDown 3.72s linear infinite;
    -webkit-animation: moveDown 3.72s linear infinite;
    -moz-animation: moveDown 3.72s linear infinite;
    -o-animation: moveDown 3.72s linear infinite;
}
#move7{
    position: absolute;
    background-size: contain;
    background-image: url("../image/bluecircleleft.png");
    background-repeat: no-repeat;
    bottom:-30vh;
    left:0vw;
    width:30vw;
    height:30vw;
    animation: moveDown 3.72s linear infinite;
    -webkit-animation: moveDown 3.72s linear infinite;
    -moz-animation: moveDown 3.72s linear infinite;
    -o-animation: moveDown 3.72s linear infinite;
}
@keyframes moveDown {
    0% {transform: translateY(0);}
    25% {transform: translateY(10px);}
    50% {transform: translateY(20px);}
    75% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}
@keyframes moveUp {
    0% {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    50% {transform: translateY(-20px);}
    75% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}
/*第二页*/
#pic2{
    position: relative;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
}
#dec1{
    position: absolute;
    right:25vw;
    top:-10vh;
    width:15vw;
    height:15vw;
    border-radius: 13rem;
    background-color: #6167FF;
}
#dec2{
    position: absolute;
    right:30vw;
    bottom: 15vh;
    width:12vw;
    height:12vw;
    border-radius: 6vw;
    background-color: #B48CFA;
}
#dec3{
    position: absolute;
    left:21vw;
    bottom:-10vh;
    width:17vw;
    height:17vw;
    background-image: url(../image/homedec1.png);
    background-size: contain;
}
#circle1,#circle2,#circle3{
    position: absolute;
    left:0;
    top:2vw;
    width:15vw;
    height:15vw;
    border-radius: 8vw;
}
#circle1{
    background-color: #E5E7EE;
}
#circle2{
    background-color: #EDE0EF;
}
#circle3{
    background-color: #F1EBDE;
}
.wanhuatong,.wangyuanjing,.shiguangji{
    position: relative;
}
#hover2,#hover1,#hover3{
    position: relative;
    width:20vw;
    height:20vw;
    overflow: hidden;
    background-image: url("../image/wangyuanjing.png");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover;
}
#hover1{
    background-image: url("../image/wanhuatong.png");
}
#hover2{
    background-image: url("../image/wangyuanjing.png");
}
#hover3{
    background-image: url("../image/shiguangji.png");
}
.descript{
    position: relative;
    width: 100%;
    margin-top: -5vh;
}

#details1,#details2,#details3{
    position: relative;
}

.descript p{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
}
.subDes p{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.6rem;
    opacity: 0.8;
}
#details1 p,#details2 p,#details3 p{
    padding-top: 2vh;
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: normal;
    opacity: 0.7;
}
#pic2 button{
    display:block;
    margin: 0 auto;
    margin-top:1vh;
    color: #3E62F5;
    border:1px solid #3E62F5;
    border-radius: 4px;
    font-size: 1.4rem;
    height:4rem;
    width:10rem;
    background-color: transparent;
}
#pic2 button:hover{
    background-color: #3E62F5;
    color:white;
}
/*第三页*/
#pic3{
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    margin-top:8vh;
    width: 86vw;
    display: flex;
    justify-content: space-between;
}
#scenario1{
    position: relative;
    width:60vw;
    height:50vh;
    overflow: hidden;
    background-image: url("../image/branding.png");
    background-size: cover;
}
#scenario2{
    position: relative;
    width:8.5vw;
    height:50vh;
    overflow: hidden;
    background-image: url("../image/package.png");
    background-size: cover;
}
#scenario3{
    position: relative;
    width:8.5vw;
    height:50vh;
    overflow: hidden;
    background-image: url("../image/advertising.png");
    background-size: cover;
}
#scenario4{
    position: relative;
    width:8.5vw;
    height:50vh;
    overflow: hidden;
    background-image: url("../image/interaction.png");
    background-size: cover;
}
.scenario .scecover{
    position: absolute;
    width:100%;
    height:100%;
    background-color: #E4E8F7;
    color: #606060;
}
.scenario .scecover p{
    position: absolute;
    width:100%;
    line-height: 6rem;
    text-align: center;
    bottom: 0;
}
#scenario1 .scecover{
    opacity:0;
}

.icon{
    position: absolute;
    width:8.5vw;
    height:8.5vw;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 3rem;
}
#scenario1 .icon{
    background-image: url(../image/branding2.svg);
}
#scenario2 .icon{
    background-image: url(../image/package2.svg);
}
#scenario3 .icon{
    background-image: url(../image/advertising2.svg);
}
#scenario4 .icon{
    background-image: url(../image/interaction2.svg);
}
.scenario .scecover:hover{
    background-color: #3E63F6;
    color: white;
}
#scenario1 div:hover .icon{
    background-image: url(../image/branding1.svg);
    
}
#scenario2 div:hover .icon{
    background-image: url(../image/package1.svg);
}
#scenario3 div:hover .icon{
    background-image: url(../image/advertising1.svg);
}
#scenario4 div:hover .icon{
    background-image: url(../image/interaction1.svg);
}
#scenarioText{
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    margin-top:2vh;
    width: 86%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    
}
#sceText1{
    position: relative;
    width:60vw;
    overflow: hidden;
}
#sceText2{
    position: relative;
    width:8.5vw;
    overflow: hidden;
    opacity: 0;
}
#sceText3{
    position: relative;
    width:8.5vw;
    overflow: hidden;
    opacity: 0;
}
#sceText4{
    position: relative;
    width:8.5vw;
    overflow: hidden;
    opacity: 0;
}
#scenarioText h3{
    font-size: 1.8rem;
    line-height: 2rem;
    height: 2rem;
}
#scenarioText p{
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
}
#scedec1{
    position: absolute;
    right:20vw;
    top:-15vh;
    width:15vw;
    height:15vw;
    background-color: #6167FF;
    transform: rotate(-15deg);
}
#scedec2{
    position: absolute;
    left:30vw;
    bottom:-15vh;
    width:15vw;
    height:15vw;
    background-image: url(../image/homedec2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#scedec3{
    position: absolute;
    left:-5vw;
    bottom:18vh;
    width:10vw;
    height:10vw;
    border-radius: 5vw;
    background-color: #9E73E8;
}
/*第四页*/
#pic4{
    position: absolute;
    left: 13.5%;
    right: 13.5%;
    top:25vh;
    width: 73%;
}
#recentdec{
    position: absolute;
    right: 7%;
    width:40vw;
    height:75vh;
    top:50%;
    transform: translate(0,-50%);
    background-color: #E4E8F7;
}
.recent{
    position: relative;
    display: flex;
    justify-content:space-between;
    width:100%;
    margin-bottom: 0.5vw;
}
.recent div{
    position: relative;
    width:24vw;
    height:16vw;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
#forhover{
    position: absolute;
    left: 13.5%;
    right: 13.5%;
    top:25vh;
    width: 73%;
}
.recenthover{
    position: relative;
    display: flex;
    justify-content:space-between;
    width:100%;
    margin-bottom: 0.5vw;
}
.recenthover div{
    position: relative;
    width:24vw;
    height:16vw;
}


#recentText{
    position: absolute;
    left: 7%;
    right: 20%;
    top:40vh;
    width: 73%;
}
#recentText1{
    left:0;
    top:0;
    display: none;
}
#recentText2{
    left:24.5vw;
    top:0;
    display: none;
}
#recentText3{
    left:49vw;
    top:0;
    display: none;
}
#recentText4{
    left:0;
    top:16vw;
    display: none;
}
#recentText5{
    left:24.5vw;
    top:16vw;
    display: none;
}
#recentText6{
    left:49vw;
    top:16vw;
    display: none;
}
.recentTextIn{
    position: absolute;
}

.recentTextA{
    background-color: #3E62F6;
    margin-bottom: 1vh;
    height:4rem;
    width:12rem;
}
.recentTextA p{
    color: white;
    line-height: 4rem;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0.6;
}
.recentTextB{
    background-color: #3E62F6;
    padding: 3rem 4rem;
    width: 20rem;
    margin-left: 2rem;
}
.recentTextB h3{
    color: white;
    line-height: 3rem;
}
.recentTextB p{
    color: white;
    line-height: 3rem;
    font-size: 1.4rem;
    opacity: 0.6;
}


#recent1{
    background-image: url("../image/recent1.png");
}
#recent2{
    background-image: url("../image/recent2.png");
}
#recent3{
    background-image: url("../image/recent3.png");
}
#recent4{
    background-image: url("../image/recent4.png");
}
#recent5{
    background-image: url("../image/recent5.png");
}
#recent6{
    background-image: url("../image/recent6.png");
}


/*第五页*/

#textmodel5{
    position: absolute;
    right:10%;
    width:auto;
    top:50%;
    transform:translate(0,-50%);
    opacity: 0;
    text-align: left;
    margin-top:0;
}
#textmodel5 h1{
    position: relative;
}
#enjoy{
    position: relative;
    resize: none;
    outline:none;
    border-radius:4px;
    font-size: 2.2rem;
    line-height: 5rem;
    height: 5rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:4vh;
    border: 1px solid rgba(98,93,112,0.8);
    background: #F7F7F7;
    opacity: 0.8;
    width:300px;
}

    
#combtn{
    position: relative;
    width:100%;
}
#btn_put{
    color: #444553;
    font-size: 1.8rem;
    line-height: 5rem;
    width: 14rem;
    height: 5rem;
    border-radius: 4px;
    border: 1px solid rgba(98,93,112,0.8);
    background: #F7F7F7;
    opacity: 0.8;
    margin-top:1vh;
}


#btn_put:hover{
    background-color: #3E62F5;
    color:white;
    opacity: 1;
}
#footer{
    position: fixed;
    top:50%;
    transform: translate(0,-40%);
    left: 0%;
    width:100%;
    height: 60%;
     box-sizing: border-box;
    overflow: hidden;
     word-break: break-all;
    white-space: nowrap;
    
}


#foot {
    position: relative;
    display: inline-block;
    line-height: 5rem;
    text-align: left;
    color:#444553;
    height: 100%;
}
.cover{
    position: fixed;
    right: 0px;
    width:45%;
    height: 100%;
    background-image: linear-gradient(to left, #F7F7F7 60%, transparent);
    opacity: 0.6;
}
.coverLeft{
    position: fixed;
    left: 0px;
    width:10%;
    height: 100%;
    background-image: linear-gradient(to right, #F7F7F7 60%, transparent);
    opacity: 0.6;
}
#textdiv1{
    position: absolute;
    animation: marqueeTransform 20s linear infinite;
}

#textdiv2{
    position: absolute;
    top:15%;
    animation: marqueeTransform 25s linear infinite;
}

#textdiv3{
    position: absolute;
    top:30%;
    animation: marqueeTransform 27s linear infinite;
}

#textdiv4{
    position: absolute;
    top:45%;
    animation: marqueeTransform 20s linear infinite;
}

#textdiv5{
    position: absolute;
    top:60%;
    animation: marqueeTransform 30s linear infinite;
}

#textdiv6{
    position: absolute;
    top:80%;
    animation: marqueeTransform 40s linear infinite;
}


#foot p{
    display: inline-block;  
    padding-left: 10%;
    padding-right: 10%;
    
}


@keyframes marqueeTransform {
    0%   { transform: translate(150%,0)}
    100% { transform: translate(-240%,0)}
  }




        
        .hidden{
            position: relative;
            top:6rem;
            animation: all 0.5s ease-in 0.3s;
        }
        .display{
            position: relative;
            top:0px;
            animation: text1 0.5s ease-in 0.3s;
        }
        @keyframes text1 {
            0%{
                top:6rem;
            }
            100%{
                top:0px;
            }
        }

        .display{
            position: relative;
            top:0px;
            animation: text2 0.5s ease-in 0.3s;
        }
        @keyframes text2 {
            0%{
                top:6rem;
            }
            100%{
                top:0px;
            }
        }

/*@media screen and (max-width:1280px){
    html, body {   
    font-size:55%; 
    -webkit-text-size-adjust:none;
    }
}

@media screen and (max-width:1024px){
    html, body {   
    font-size:50%; 
    -webkit-text-size-adjust:none;
    }
}
@media screen and (min-width:2000px){
    html, body {   
    font-size:100%; 
    -webkit-text-size-adjust:none;
    }
}*/






        






   






