 @charset "UTF-8";

@font-face {
    font-family: 'Gotham-Bold';
    src: url(../font/Gotham-Bold.otf);
}

@font-face {
    font-family: 'heijian';
    src: url(../font/heijian.TTF);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
button:focus{outline:0;}
html, body {   
    font-family:'heijian';
    overflow-x: hidden;
    color:white;
    /*将rem设置为10px*/
    font-size:62.5%; 
    -webkit-text-size-adjust:none;
}
p{
    font-size: 1.6rem;
}
h1{
    font-size: 4.8rem;
    margin-bottom: 3rem;
}
h3{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
    color:#444553;
}

/*导航*/
#navback{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height:48px;
    background-color: #1D1D23;
    opacity: 0;
}
.nav{
    position: fixed;
    top: 30px;
    width: 86%;
    left: 7%;
    right:7%;
}
.logo{
    position: relative;
    display: inline;
    float:left;
    width:130px;
    height:30px;
}
.logo img{
    height:100%;
}
.logo a{
    text-decoration: none;
}
.dropdownmenu{
    position: relative;
    margin-left: 10vw;
}
.dropdownmenu ul {
    list-style: none;
    width: 100%;
   
}
.dropdownmenu li {
    float: left;
    position: relative;
    width:10vw;;
    line-height: 44px;
    top:-16px;
}
.dropdownmenu a {
    color: white;
    opacity: 0.6;
    display: block;
    font-size: 1.4rem;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

#gdesign a{
    opacity: 1;
}
.dropdownmenu li:hover a {
    color:white;
    opacity: 1;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 80px;  /* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}


#submenu li {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#submenu a:hover {
    background-color: #5376FF;
    color: white;

}
#submenu a {
    background-color:white;
    line-height: 4rem;
    color:#444553;
}

.english{
    position: absolute;
    height: 30px;
    right: 0px;
    font-family: 'Gotham-Bold';
    width: auto;
}
.english p{
    line-height: 34px;
}


.english a{
text-decoration: none;
color: white;
}



/*首页*/
#landing{
    position: fixed;
    width:100vw;
    height: 31vw;  
    overflow: hidden;
}
#landing img{
    width:100%;
}
#back{
    width:100%;
    height:100%;
    position: absolute;
    overflow: hidden;
}
#front{
    position: absolute;
    left: 0px;
    top:0px;
    width:100vw;
    height: 31vw;  
    background-color:black;
    opacity: 0.2;
}
#mask{
    position: absolute;
    left: 0px;
    top:0px;
    width:100vw;
    height: 31vw;  
    overflow: hidden;
    mask: radial-gradient(rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%) no-repeat; 
    mask-size:50rem 50rem;
    -webkit-mask: radial-gradient(rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%) no-repeat; 
    -webkit-mask-size:50rem 50rem;
}

#title{
    position: relative;
    color: white;
    width:100vw;
    height: 31vw;  
    text-align: center;
}
#title h1{
    padding-top: 12vw;
    font-size:4vw;
    line-height: 4vw;
}
#title p{
    width: 100%;
    line-height: 3rem;
    padding-top: .5vw;
    font-size: 1.6rem;
}
#title button{
    margin-top: 2vw;
    background-color: transparent;
    border:1px solid white;
    border-radius: 4px;
    height: 4rem;
    width: 10rem;
    color: white;
    font-size: 1.6rem;
}
#title button:hover{
    background-color: #5376FF;
    border:1px solid transparent;
}
/*内容区域*/
#scroll{
    position: relative;
    width: 100vw;
    background-color: #131315;
}


/*能力优势*/
#pro{
    position: relative;
    padding-top: 1%;
    padding-bottom: 3%;
    width:100%;
    
}
#proSub{
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}
#proicon1,#proicon2,#proicon3{
    width:25vw;
    height:25vw;
}

#proicon1 .icon1{
    position: absolute;
    top:7.8vw;
    left:5vw;
    width:4vw;
    height: 12vw;
    background-image: url(../image/gou1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon1 .icon2{
    position: absolute;
    top:4.9vw;
    left:9.3vw;
    width:4vw;
    height: 12vw;
    background-image: url(../image/gou2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon1 .icon3{
    position: absolute;
    top:7.8vw;
    left:13.5vw;
    width:4vw;
    height: 12vw;
    background-image: url(../image/gou3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon1 .icon4{
    position: absolute;
    top:3.5vw;
    right:2.3vw;
    width:7.5vw;
    height: 7.5vw;
    border-radius: 3.75vw;
    background-color: #FFA700;
}
#proicon2 .icon1{
    position: absolute;
    top:12vw;
    left:2.5vw;
    width:8vw;
    height: 8vw;
    border-radius: 4vw;
    background-image: url(../image/ying2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#proicon2 .icon2{
    position: absolute;
    top:6.5vw;
    left:5.7vw;
    width:7.5vw;
    height: 10vw;
    background-image: url(../image/ying1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon2 .icon3{
    position: absolute;
    top:4vw;
    left:13.5vw;
    width:7.5vw;
    height: 10vw;
    background-image: url(../image/ying2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#proicon2 .icon4{
    position: absolute;
    top:12vw;
    left:18.3vw;
    width:3.5vw;
    height: 6.5vw;
    background-color:#FFA700; 
}
#proicon3 .icon1{
    position: absolute;
    top:6.3vw;
    left:2.3vw;
    width:8vw;
    height:8vw;
    background-color:#FFA700; 
}
#proicon3 .icon2{
    position: absolute;
    top:10.5vw;
    left:5.7vw;
    width:9.5vw;
    height:9.5vw;
    clip-path: circle(50%);
    background-color: #3D61F5;
}
#proicon3 .icon3{
    position: absolute;
    top:3.5vw;
    left:11.5vw;
    width:11.5vw;
    height:11.5vw;
    clip-path: circle(50%);
    background-color: #3D61F5;
}
#proicon3 video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.proSub1{
    position: relative;
    width:25vw;
    height: auto;
    display: inline-block;
}
.proh3{
    position: relative;
    display: inline-block;
    width:100%;
    height: 2.4rem;
    line-height: 2.4rem;
}
.prop{
    position: relative;
    display: inline-block;
    width:100%;
    line-height: 30px;
}
#proSub h3{
    position: relative;
    width:100%;
    text-align: center;
}
#proSub p{
    position: relative;
    width:100%;
    text-align: center;
    margin-top: 2rem;
}

/*能力演示*/
#studyProcess{
    position: relative;
    padding-top: 10%;
    padding-bottom: 6%;
    width: 100%;
    height: auto;
}
#studyInfo{
    position: relative;
    width: 100%;
    text-align: center;
}
#studyInfo p{
    position: relative;
    width: 100%;
    line-height: 2.4rem;
    height: 2.4rem;
}
#studyInfo p a{
    color: #5376FF;
}
#tryAbility{
    position: relative;
    width:100%;
    height: calc(30vw * 0.8);
    padding-top: 6rem;
}
.sideByside1{
    display: inline;
    float: left;
    width:50vw;
}
.sideByside2{
    display: inline;
    float:right;
    width:50vw;
}
#upload{
    display: inline-block;
    float: right;
    width:calc(8vw + 10px);
}
#upload div{
    width:8vw;
    height:6vw;
    margin-bottom: 0.5vw;
    font-size: 1.6rem;
    background-size: 100% 100%;
}
.originpic1{
    background-image: url(../image/camp.png);
    overflow: hidden;
}
.originpic2{
    background-image: url(../image/scooter.png);
    overflow: hidden;
}
.originpic3{
    background-image: url(../image/dog.png);
    overflow: hidden;
}
#originpic1,#originpic2,#originpic3{
    background-color: rgba(0,0,0,.2);
    position: relative;
}
#upload p{
    position: absolute;
    bottom: 5px;
    right:5px;
    text-align: right;
}
#myFile{
    display: none;
}
#inputLabel{
    display:inline-block;
    font-size: 1.6rem;
    width:8vw;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border:1px solid #5376FF;
    border-radius: 4px;
    color: #5376FF;
    margin-top:0.5vw;
}
#inputLabel:hover{
    background-color: #5376FF;
    color: white;
}
#before{
    float: right;
    width:calc(40vw * 0.8);
    height:calc(30vw * 0.8);
    background-color: black;
    background-image:url(../image/camp.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
#before div{
    margin-left: 1rem;
    margin-top:1rem;
    background-color: #444553;
    width:6rem;
    height:3rem;
    border-radius: 1.5rem;
}
#before div p{
    color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
}
#after{
    float: left;
    width:calc(40vw * 0.8);
    height:calc(30vw * 0.8);
    background-color: black;
    background-image:url(../image/camp1.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
}
#after div{
    float: right;
    margin-right:1rem;
    margin-top:1rem;
    background-color: #444553;
    width:6rem;
    height:3rem;
    border-radius: 1.5rem;
}
#after div p{
    color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
}

#styleChoose{
    display: inline-block;
    float: left;
    width:calc(8vw * 0.7);
}

#styleChoose div{
    width:calc(8vw * 0.7);
    height:calc(6vw * 0.7);
    margin-bottom: 0.5vw;
    font-size: 1.6rem;
    background-size: 100% 100%;
}
.style1{
    background-image: url(../image/111.png);
    margin-left: 10px;
    overflow: hidden;
}

.style2{
    background-image: url(../image/222.png);
    margin-left: 10px;
    overflow: hidden;
}
.style3{
    background-image: url(../image/333.png);
    margin-left: 10px;
    overflow: hidden;
}
.style4{
    background-image: url(../image/444.png);
    margin-left: 10px;
    overflow: hidden;
}
.style5{
    background-image: url(../image/555.png);
    margin-left: 10px;
    overflow: hidden;
}
#style1,#style2,#style3,#style4,#style5{
    position: relative;
    background-color: rgba(0,0,0,.3);
}

#styleChoose p{
    position: absolute;
    bottom: 5px;
    right:5px;
    text-align: right;
}
#operationPlace img{
    width:100%;
}

/*案例*/
#case{
    position: relative;
    padding-top: 10%;
    padding-bottom: 6%;
    width: 100%;
    height: auto;
}

#caseInfo{
    position: relative;
    width: 100%;
    text-align: center;
}
#caseInfo p{
    position: relative;
    width: 100%;
    line-height: 2.4rem;
    height: 2.4rem;
}
#pic4{
    position: relative;
    margin:0 auto;
    margin-top:6rem;
    width: calc(160vw * 0.35);
    height:calc(90vw * 0.35);
}
.box{
    position: absolute;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.flexslider{
    position: absolute;
    width: 400%;
    height: 100%;
    font-size: 0;
    top:0;
    left:0;
    margin-left: 0px;
    overflow: hidden;
}
.flexslider div{
    position: relative;
    display:inline-block;
    width: 25%;
    height: 100%;
}
.flexslider div img{
    width:100%;
    height: 100%;
}
#dec1,#dec2,#dec3,#dec4{
    position: absolute;
}
#dec1{
    left:15vw;
    top:40vh;
    width:20rem;
    height:15rem;
    background-color: #6066FF;
}
#dec2{
    right:15vw;
    bottom: 20vh;
    width:20rem;
    height:15rem;
    background-color: #6066FF;
}
#dec3{
    left:7vw;
    bottom: 20vh;
    width:15rem;
    height:8rem;
    background-color: #3F1698;
}
#dec4{
    right: 7vw;
    top:35vh;
    width:15rem;
    height:8rem;
    background-color: #3F1698;
}
/*更多信息*/
#more{
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    width:100%;
}
#moreInfo{
    position: relative;
    width: 100%;
    text-align: center;
}
#moreInfo h1{
    font-size: 2.4rem;
}

#moreSub{
    position: relative;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}
#moreSub div{
    display: inline-block;
    float: left;
    margin-right: 2rem;
    height:7rem;
}
.othericon{
    width:7rem;
    height:7rem;
    border-radius: 4rem;
    border: 5px solid white;
    background-image: url(../image/other.svg);
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    background-position: 50% 50%;
}
#moreSub div:hover .othericon{
    background-position: 90% 50%;
    animation: bounce-right 1s linear infinite;
    -webkit-animation: bounce-right 1s linear infinite;
    -moz-animation: bounce-right 1s linear infinite;
    -o-animation: bounce-right 1s linear infinite;
}
@keyframes bounce-right {
    0% {background-position: 50% 50%;}
    25%{background-position: 70% 50%;}
    75%{background-position: 70% 50%;}
    100% {background-position: 50% 50%;}
}
#moreSub h3{
    width: 100%;
    line-height: 5rem;
}
#moreSub p{
    width: 100%;
    line-height: 2rem;
    opacity: 0.6;
}


/*页面尾部*/
#footer{
    position: relative;
    width:100vw;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background-color: #1E1E23;
    display: flex;
    justify-content: space-between;
}

#leftSide div{
    width:25rem;
    height:1.5rem;
    background-image: url("../image/footerLogo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 2rem;
}
#groupName{
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}
#email{
    font-size: 1.2rem;
    opacity: 0.6;
    line-height: 2rem;
}

#rightSide{
    transform: translate(0,-0.5rem);
}
#rightSide div{
    display: inline-block;
    width:8rem;
    height: 8rem;
    background-image: url("../image/contact.jpeg");
    background-size: contain;
}
#rightSide p{
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
    line-height: 2rem;
    text-align: right;
}
#line{
    position: relative;
    width:100%;
    height:1px;
    background-color: white;
    opacity: 0.1;
}
#middleSide{
    background-color: #1E1E23;
}
#middleSide p{
    position: relative;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width:100%;
    text-align: center;
}
#middleSide span{
    opacity: 0.6;
}

.mobileNav-details{
    display: none;
}

@media screen and (max-width:768px){
    p{
        font-size: 1.4rem;
    }
    h1{
        font-size:9vw;
        line-height: 12vw;
        margin-bottom: 0rem;
    }
    /* 移动端导航 */
    .dropdownmenu{
        display: none;
    }
    .mobileNav{
        position: fixed;
        top: 30px;
        right:7vw;
        width:26px;
        height:30px;
        z-index: 1000;
    }
    .line{
        position: absolute;
        width:100%;
        height:4px;
        background-color: white;
        border-radius: 4px;
    }
    .line1{
        width:26px;
        top:2px;
        transform-origin: 0 2px;
        transition: all .2s;
    }
    .line2{
        top:13px;
        transition: all .2s;
    }
    .line3{
        width:26px;
        bottom:2px;
        transform-origin: 0 2px;
        transition: all .2s;
    }

    .mobileNav-details{
        display: block;
        position: fixed;
        top:0;
        right:0;
        width:0;
        height:100%;
        background-color: black;
        transition: all .2s;
        overflow: hidden;
        z-index: 999;
    }
    .Navdetails{
        position: relative;
        margin:0 auto;
        width:36vw;
        height:10vh;
        margin-bottom:4vh;
        border-radius: 10px;
        color: white;
    }
    .Navdetails h3{
        position: absolute;
        font-size: 1.6rem;
        line-height: 1.6rem;
        left:4vw;
        top:3vh;
    }
    .Navdetails1{
        margin-top: 10vh;
        background: linear-gradient(180deg, #DEDEDE 0%, #CFCFCF 100%);
        color:#444553;
    }
    .Navdetails2{
        background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
    }
    .Navdetails3{
        background: linear-gradient(90deg, #4B78C0 0%, #B8D8FF 100%);
    }
    .Navdetails4{
        background: linear-gradient(287deg, #FAD961 0%, #F8A06F 100%);
    }
    .Navdetails5{
        background: linear-gradient(180deg, #4A90E2 0%, #3D78FF 100%);
    }
    .Navdetails6{
        margin-bottom: 0;
        background: linear-gradient(180deg, #383838 0%, #828282 100%);
    }
    .navPic{
        position: absolute;
        right:-6vw;
        top:-3vh;
        width:60%;
        height:150%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navPic1{
        background-image: url("../image/nav1.png");
    }
    .navPic2{
        background-image: url("../image/nav2.png");
    }
    .navPic3{
        background-image: url("../image/nav3.png");
    }
    .navPic4{
        background-image: url("../image/nav4.png");
    }
    .navPic5{
        background-image: url("../image/nav5.png");
    }
    .navPic6{
        background-image: url("../image/nav6.png");
    }

    .navDec1{
        position: absolute;
        top:10vw;
        left:10vw;
        width:10vw;
        height:10vw;
        border-radius: 10vw;
        background: linear-gradient(180deg, #4A90E2 0%, #3D78FF 100%);
    }
    .navDec2{
        position: absolute;
        bottom:10vw;
        right:10vw;
        width:10vw;
        height:10vw;
        border-radius: 10vw;
        background: linear-gradient(180deg, #4A90E2 0%, #3D78FF 100%);
    }
    .navDec3{
        position: absolute;
        top:23vh;
        left:28vw;
        width:5vw;
        height:5vw;
        border-radius: 5vw;
        background: linear-gradient(287deg, #FAD961 0%, #F8A06F 100%);
    }
    .navDec4{
        position: absolute;
        top:45vh;
        right:-3vw;
        width:20vw;
        height:20vw;
        border-radius: 20vw;
        background: linear-gradient(135deg, #3023AE 0%, #C86DD7 100%);
    }
    /* landing的部分 */
     #landing,#front,#mask{
        width:300vw;
        height: 90vw;  
    }
    #landing img{
        transform:translate(-25%,0);
    }
    #title{
        width:300vw;
        height: 90vw;  
        text-align: left;
        margin-left: 7%;
    }
    #title h1{
        padding-top:30vw;
        font-size:9vw;
        line-height: 12vw;
        margin-bottom: 1vw;
    }
    #title h1 span{
        display:block; 
        white-space:pre-wrap;
    }
    #title p{
        width: 86vw;
        line-height: 2rem;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 1.4rem;
    }
    #title button{
        background-color:#5376FF;
        border:none;
        width: 8rem;
        font-size: 1.4rem;
    }
/* 能力优势 */
#proSub{
    display: block;
    margin-top: 0;
    
}
.proSub1,.proSub2,.proSub3{
    width:100%;
    height:100%;
    margin-top: 15vh;
}
#proicon1,#proicon2,#proicon3{
    width:75vw;
    height:75vw;
}
#proicon1 .icon1{
    top:23.4vw;
    left:15vw;
    width:12vw;
    height: 36vw;
    
}
#proicon1 .icon2{
    top:14.7vw;
    left:27.9vw;
    width:12vw;
    height: 36vw;
}
#proicon1 .icon3{
    top:23.4vw;
    left:40.5vw;
    width:12vw;
    height: 36vw;
}
#proicon1 .icon4{
    top:10.5vw;
    right:6.9vw;
    width:22.5vw;
    height: 22.5vw;
    border-radius: 11.25vw;
}

#proicon2 .icon1{
    top:36vw;
    left:7.5vw;
    width:24vw;
    height: 24vw;
    border-radius: 12vw;
}
#proicon2 .icon2{
    top:19.5vw;
    left:17.1vw;
    width:22.5vw;
    height: 30vw;
}
#proicon2 .icon3{
    top:12vw;
    left:40.5vw;
    width:22.5vw;
    height: 30vw;
}
#proicon2 .icon4{
    top:36vw;
    left:54.9vw;
    width:10.5vw;
    height: 19.5vw;
}

#proicon3 .icon1{
    position: absolute;
    top:18.9vw;
    left:6.9vw;
    width:24vw;
    height:24vw;
}
#proicon3 .icon2{
    position: absolute;
    top:31.5vw;
    left:17.1vw;
    width:28.5vw;
    height:28.5vw;
}
#proicon3 .icon3{
    position: absolute;
    top:10.5vw;
    left:34.5vw;
    width:34.5vw;
    height:34.5vw;
}
#proSub p{
    margin-top: 0rem;
}
/*能力演示 */
#studyProcess,#case,#more{
    padding-top: 15vh;
}
#studyInfo{
    width: 86%;
    text-align: left;
    margin-left: 7vw;
}
#tryAbility{
    height: 180vw;
    margin-top: 4rem;
}
.sideByside1,.sideByside2{
    position: relative;
    display:block;
    width:86vw;
    height:82vw;
}
#upload{
    position: absolute;
    display: contents;
    justify-content: space-between;
    display: flex;
    float: none;
    width:86vw;
    top:0;
    left: 7vw;
}
#upload div{
    width:20vw;
    height:15vw;
    font-size: 1.4rem;
}
#inputLabel{
    width:20vw;
    height: 15vw;
    line-height: 15vw;
    font-size: 1.4rem;
    border-radius: 0px;
    color: white;
    background-color: #5376FF;
    margin-top:0vw;
}
#before,#after{
    position: absolute;
    float: none;
    left: 7vw;
    bottom:1vw;
    width:86vw;
    height:64.5vw;
}
#after{
    margin-left: 0;
    top:1vw;
    left:-7vw;
}
#before div,#after div{
    float: right;
    margin-right: 1rem;
}
#styleChoose{
    position: absolute;
    display: contents;
    justify-content: space-between;
    display: flex;
    float: none;
    width:86vw;
    bottom:0;
    left: -7vw;
}
#styleChoose div{
    width:20vw;
    height:15vw;
    font-size: 1.4rem;
}
.style1,.style2,.style3,.style4{
    margin-left: 0;
}
.style5{
    display: none;
}

/* 应用案例 */
#dec1,#dec2,#dec3,#dec4{
    display: none;
}
#caseInfo{
    width: 86%;
    text-align: left;
    margin-left: 7vw;
}
#pic4{
    margin-top:4rem;
    width: calc(160vw * 0.53);
    height:calc(90vw * 0.53);
}

 /* 更多信息 */
 #moreSub{
    margin-top: 4rem;
    width:20rem;
}
#moreSub div{
    display: block;
    width: 5rem;
    height:5rem;
    margin-right: 0rem;
}
.othericon{
    width:5rem;
    height:5rem;
    border-radius: 4rem;
    border: 5px solid white;
    background-size: 2rem 2rem;
    border: 2px solid white;

    animation: bounce-right 1s linear infinite;
-webkit-animation: bounce-right 1s linear infinite;
-moz-animation: bounce-right 1s linear infinite;
-o-animation: bounce-right 1s linear infinite;
}
#more{
    padding-bottom: 15vh;
}
#moreSub h3{
    font-size: 1.6rem;
}
#moreSub p{
    display: none;
}
/* 页面尾部 */
#footer{
    padding-top: 3rem;
    padding-bottom: 2rem;
    
}
#leftSide div{
    width:40vw;
    padding-bottom: 1rem;
}
#rightSide p{
    display:none;
}
}






    





        






   






