<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?696a3cbdb1f298b19a1542baf4fb0043";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='image/favicon.png')}}">
</head>

<body>
<div id="loading" style="z-index: 999"><p>loading...</p></div>
<!--页面信息-->
<!--横条背景-->
<div id="ready">
<div id="totalBackground"></div>
<!--蓝条背景-->
<div id="firstBack">
<img src="{{ url_for('static', filename='image/about@2x.png')}}" alt=""/>
</div>
<div id="back">
<div id="secondBack" class="back"></div> 
<div id="thirdBack" class="back"></div> 
<div id="fourthBack" class="back"></div> 
<div id="fifthBack" class="back"></div> 
<div id="sixthBack" class="back"></div> 
<div id="seventhBack" class="back"></div> 
<div id="eighthBack" class="back"></div> 
<div id="ninthBack" class="back"></div>
</div>
<!--第一页-->
<div id="first">
<div id="firstPic">

</div>
<div id="firstContent">
<div>
<h3><span>Hello</span>，我是小绘:D</h3>
<p>作为一个崇尚理性设计的人工智能设计师，<br>我致力于成长为一个个性化AI设计平台， <br>成为你灵感之旅中的最佳拍档。</p> 
</div>

</div>

</div>
<!--第二页-->
<div id="second">
<div id="secondContent" class="Content">
<div class="date secondDate">
<h1>11</h1>
<h1>2018</h1>
</div>

<div class="titleText">
    <div class="titleTextinner">
        <div id="secondTitle" class="Title"><h3>小绘开始探索智能设计</h3></div>
        <div class="secondText" class="Text"><p>30000+张图片发送到了我的大脑里，</p></div>
        <div class="secondText" class="Text"><p>我可一秒都没在怕的。</p></div>
    </div>
</div>
</div> 

<div id="explore1" class="explore">
<div id="pic1"></div>
<div id="description1" class="description">
<h1>5</h1>
<p>规则探索(轮)</p>
</div>   
</div>

<div id="explore2" class="explore">
<div id="pic2"></div>
<div id="description2" class="description">
<h1>10</h1>
<p>算法尝试(轮)</p>
</div>   
</div>

<div id="explore3" class="explore">
<div id="pic3"></div>
<div id="description3" class="description">
<h1>7</h1>
<p>样本标注(轮)</p>
</div>  
</div>

</div>
    
<!--第三页-->
<div id="third">
<div id="thirdContent" class="Content">
<div class="date thirdDate">
<h1>07</h1>
<h1>2019</h1>
</div>
<div class="titleText">
    <div class="titleTextinner">
        <div id="thirdTitle" class="Title"><h3>小绘首次在设计界亮相</h3></div>
        <div class="thirdText" class="Text"><p>10多位参与测试的设计师，</p></div>
        <div class="thirdText" class="Text"><p>都对我的表现很满意。</p></div>    
    </div>
</div>

</div> 
<div id="thirdPic">
<img src="{{ url_for('static', filename='image/demoFinal.png')}}" alt=""/>    
</div>
</div>

<!--第四页-->
<div id="fourth">
<div id="fourthPic"> </div>
<div id="fourthContent" class="Content">
<div class="date fourthDate">
<h1>08</h1>
<h1>2019</h1>
</div>
<div class="titleText">
    <div class="titleTextinner">
        <div id="fourthTitle" class="Title"><h3>小绘又变强啦</h3></div>
        <div class="fourthText" class="Text"><p>我遨游在算法的海洋里，</p></div>
        <div class="fourthText" class="Text"><p>探索多种算法，创造了100+不同的设计风格。</p></div>   
    </div>
</div>

</div>
</div>
    
<!--第五页-->
<div id="fifth">
<div id="fifthContent" class="Content">
<div class="date fifthDate">
<h1>09</h1>
<h1>2019</h1>
</div>
<div class="titleText">
    <div class="titleTextinner">
        <div id="fifthTitle" class="Title"><h3>小绘助力市场团队</h3></div>
        <div class="fifthText" class="Text"><p>在这里，我是节省时间的小能手。</p></div>
        <div class="fifthText" class="Text"><p>通过风格迁移能力，批量美化宣传视频。</p></div>
    </div>
</div>

</div>
<div id="fifthPic">
<div id="ball"><img src="{{ url_for('static', filename='image/ball-dec.png')}}" alt=""/></div>
<div id="video">
<video  width="100%" height="100%" autoplay muted loop>
<source src="{{ url_for('static', filename='image/test.mp4')}}" type="video/mp4">
</video>   
</div>
<div id="curve"><img src="{{ url_for('static', filename='image/curve-dec.png')}}" alt=""/></div>   
</div>
</div>
    
<!--第六页-->
<div id="sixth">
<div id="sixthContent" class="Content">
<div class="date sixthDate">
<h1>10</h1>
<h1>2019</h1>
</div>
<div class="titleText">
    <div class="titleTextinner">
        <div id="sixthTitle" class="Title"><h3>小绘打卡Tech World</h3></div>
        <div class="sixthText" class="Text"><p>在极短时间内制作了丰富的宣传物料，</p></div>
        <div class="sixthText" class="Text"><p>设计师都被我的速度吓到。</p></div> 
    </div>
</div>

</div> 
<div id="sixthPic">
<div id="video">
<div class="box">
        <div class="flexslider">
        <div><img src="{{ url_for('static', filename='image/1.png')}}" alt=""/></div>
        <div><img src="{{ url_for('static', filename='image/2.png')}}" alt=""/></div>
        <div><img src="{{ url_for('static', filename='image/3.png')}}" alt=""/></div>
        <div><img src="{{ url_for('static', filename='image/1.png')}}" alt=""/></div>
        </div>
</div>   
</div>
<div id="purpleball"><img src="{{ url_for('static', filename='image/purpleball.png')}}" alt=""/></div>  
<div id="lilBall"><img src="{{ url_for('static', filename='image/ball-dec.png')}}" alt=""/></div>
</div>
</div>

<!--第八页-->
<div id="eighth">
<div id="eighthContent" class="Content">
<div class="date eighthDate">
<h1>Until</h1>
<h1>Now</h1>
</div>
<div class="titleText">
    <div class="titleTextinner">
        <div id="eighthTitle" class="Title"><h3>小绘未来大家共同创造</h3></div>
        <div class="eighthText" class="Text"><p>和你一起见证更多创意的诞生，</p></div>
        <div class="eighthText" class="Text"><p>期待和你最终见面</p></div>
    </div>
</div>

</div> 
<div id="sucai" class="countNum">
<h1>12384</h1>
<p>累计生成素材（张）</p>
</div>
<div id="shiyong" class="countNum">
<h1>3384</h1>
<p>累计被使用（次）</p>
</div>
<div id="zhuli" class="countNum">
<h1>10</h1>
<p>累计助力项目宣传（个）</p>
</div>
</div>
<!--第九页-->
<div id="ninth">
<div class="flyDec">
        <div id="rect1"></div>
        <div id="rect2"></div>
        <div id="rect3"></div> 
</div>
    
<div id="finalpic"></div>
<div id="ninthContent" class="Content">
<div id="finalcontact">
  
  <div id="finalQR"></div>
<p>欢迎关注，见证我的成长。</p>
</div>
<div id="ninthTitle" class="Title"><h3>一起探索未知世界吧！</h3></div>
</div>
    


</div>
    
<!--第七页-->
<div id="seventh">
<div id="seventhContent" class="Content">
<div class="date seventhDate">
<h1>11</h1>
<h1>2019</h1>
</div>
<div class="titleText">
    <div class="titleTextinner">
        <div id="seventhTitle" class="Title"><h3>小绘举办第一次艺术展</h3></div>
        <div class="seventhText" class="Text"><p>首次和大家线下见面，现场互动次数1000+</p></div>
        <div class="seventhText" class="Text"><a href="https://mp.weixin.qq.com/s/jwrp5YEGjCLadb5z--8G-w" target="_blank">一起来看现场吧</a></div>
    </div>
</div>

</div> 
<div id="sevenPic"> </div>
</div>
<!--不动产-->
<div class="nav">
      
        <div class="logo">
                <a href="/">
                <img src="{{ url_for('static', filename='image/Xiaohui@2x.svg')}}" width=100% height=auto />
                </a>
        </div>
        
        <nav class="dropdownmenu">
            <ul>
            <li><a href="/" class="mainMenu">主页</a></li>
            <li id="gdesign"><a href="#" class="mainMenu">能力展示</a>
            <ul id="submenu">
            <li><a href="/gdesign">万花筒</a></li>
            <li><a href="/transfer">造梦机</a></li>
            <li><a href="/cross">时光机</a></li>
            </ul>
            </li>
            <li><a href="/api" class="mainMenu">API接入</a></li>
            <li><a href="/about" class="mainMenu">关于小绘</a></li>
            </ul>
        </nav>
            
        <!-- <div class="english">
         <a href="#">
         <p>EN</p>
         </a>
        </div> -->
        </div>

<!-- 增加移动端导航 -->
<div class="mobileNav">
    <div class="line1 line"></div>
    <div class="line2 line"></div>
    <div class="line3 line"></div>
</div>

<div class="mobileNav-details">

    <a href="/">
        <div class="Navdetails Navdetails1">
            <h3>主页</h3><div class="navPic navPic1"></div>
        </div>
    </a>
    <a href="/gdesign">
        <div class="Navdetails Navdetails2">
            <h3>万花筒</h3><div class="navPic navPic2"></div>
        </div>
    </a>
    <a href="/transfer">
        <div class="Navdetails Navdetails3">
            <h3>造梦机</h3><div class="navPic navPic3"></div>
        </div>
    </a>
    <a href="/cross">
        <div class="Navdetails Navdetails4">
            <h3>时光机</h3><div class="navPic navPic4"></div>
        </div>
    </a>
    <a href="/api">
        <div class="Navdetails Navdetails5">
            <h3>API接入</h3><div class="navPic navPic5"></div>
        </div>
    </a>
    <a href="#">
        <div class="Navdetails Navdetails6">
            <h3>关于小绘</h3><div class="navPic navPic6"></div>
        </div>
    </a>
    
    <div class="navDec1"></div>
    <div class="navDec2"></div>
    <div class="navDec3"></div>
    <div class="navDec4"></div>
</div>

<div class="leftdown">
        
<svg width="14px" height="26px" viewBox="0 0 14 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>btn_next</title>
    <desc>Created with Sketch.</desc>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="画板" transform="translate(-397.000000, -227.000000)" fill="#444553">
            <g id="btn_next" transform="translate(404.000000, 240.000000) rotate(-90.000000) translate(-404.000000, -240.000000) translate(391.000000, 233.000000)">
                <path d="M25.021,1.707 L13.707,13.02 C13.3165001,13.4103819 12.6834999,13.4103819 12.293,13.02 L0.978,1.707 C0.587258539,1.31625854 0.587258539,0.682741461 0.978,0.292 C1.36874146,-0.0987414605 2.00225854,-0.0987414605 2.393,0.292 L13,10.9 L23.607,0.292 C23.8597654,0.0394132191 24.2280837,-0.0591378518 24.573213,0.0334700228 C24.9183423,0.126077897 25.1878491,0.395775378 25.280213,0.740970031 C25.3725768,1.08616468 25.2737654,1.45441323 25.021,1.707 Z" id="矩形_2256_拷贝_8"></path>
            </g>
        </g>
    </g>
</svg>
        
</div>
<div id="hint"><p>滑动查看我的成长记录</p></div>
<!--底部时间线-->
<div id="timeLine">
<ul>
<li>2018.11</li> 
<li>2019.07</li>  
<li>2019.08</li>  
<li>2019.09</li>  
<li>2019.10</li>  
<li>2019.11</li>  
<li>NOW</li>  
</ul>   
</div>
</div>
    
<!--js代码-->
<script type="text/javascript">
//全局变量
var startTime = 0, //翻屏起始时间
    endTime = 0,
    timeSpace=500,
    count = 1,
    loading=$("#loading"),
    ready=$("#ready"),
    
    explore1=$("#explore1"),
    explore2=$("#explore2"),
    explore3=$("#explore3"),
    
    content2=$("#secondContent"),
    date2=$(".secondDate"),
    title2=$("#secondTitle"),
    text2=$(".secondText"),
    
    content3=$("#thirdContent"),
    date3=$(".thirdDate"),
    title3=$("#thirdTitle"),
    text3=$(".thirdText"),
    
    content4=$("#fourthContent"),
    date4=$(".fourthDate"),
    title4=$("#fourthTitle"),
    text4=$(".fourthText"),
    
    content5=$("#fifthContent"),
    date5=$(".fifthDate"),
    title5=$("#fifthTitle"),
    text5=$(".fifthText"),
    
    content6=$("#sixthContent"),
    date6=$(".sixthDate"),
    title6=$("#sixthTitle"),
    text6=$(".sixthText"),
    
    content7=$("#seventhContent"),
    date7=$(".seventhDate"),
    title7=$("#seventhTitle"),
    text7=$(".seventhText"),
    
    content8=$("#eighthContent"),
    date8=$(".eighthDate"),
    title8=$("#eighthTitle"),
    text8=$(".eighthText"),
    
    content9=$("#ninthContent"),
    title9=$("#ninthTitle"),
    text9=$(".ninthText"),
    
    firstpic=$("#firstPic"),
    pic1 = $("#pic1"),
    pic2 = $("#pic2"),
    pic3 = $("#pic3"),
    demo=$("#thirdPic"),
    explore=$("#fourthPic"),
    ability=$("#fourthPic"),
    video=$("#fifthPic"),
    sliders=$("#sixthPic"),
    stage=$("#sevenPic"),
    
    footer=$("#footer"),
    nav=$(".nav"),
    back1=$("#firstBack"),
    content1=$("#firstContent"),
    sucai=$("#sucai"),
    yong=$("#shiyong"),
    zhuli=$("#zhuli"),
    flexslider=$(".flexslider"),
    back=$("#back"),
    timeLine=$("#timeLine"),
    hint=$("#hint");
// 用于解决自适应时雪碧图位置错乱的问题
var winWidth=document.body.clientWidth;
//     $(window).resize(function () {          //当浏览器大小变化时
//         // 获取新的窗口尺寸
        
//     });   
    

//页面loading
document.onreadystatechange = loadingChange;
function loadingChange(){ 
            if(document.readyState === "loading"){ 
				loading.show();
                ready.hide();
			} 
			if(document.readyState === "complete"){ 
				loading.hide();
                ready.show();
                explore1.css("opacity","0");
                explore2.css("opacity","0");
                explore3.css("opacity","0");
    
                
			} 
		} 

//序列帧动画（div，每次动多少，多少张）
var pic1Width=$("#pic1").width();
var pic2Width=$("#pic2").width();
var pic3Width=$("#pic3").width();
var thirdPicHeight=$("#thirdPic").height();
var fourthPicHeight=$("#fourthPic").height();
var sevenPicHeight=$("#sevenPic").height();
var boxWidth=$(".box").width();

// 用于解决自适应时雪碧图位置错乱的问题
$(window).resize(function () {          //当浏览器大小变化时
    // 获取新的窗口尺寸
    pic1Width=$("#pic1").width();
    pic2Width=$("#pic2").width();
    pic3Width=$("#pic3").width();
    thirdPicHeight=$("#thirdPic").height();
    fourthPicHeight=$("#fourthPic").height();
    boxWidth=$(".box").width();
    sevenPicHeight=$("#sevenPic").height();
    
    pic1.css('background-position',"bottom");
    pic2.css('background-position',"bottom");
    pic3.css('background-position',"bottom");
    demo.css('background-position',"bottom");
    explore.css('background-position',"bottom");
    stage.css('background-position',"bottom");

    winWidth=document.body.clientWidth;
});

function start(aniPosition,step,page){
        var i=0;
        setInterval(
        function(){
            if(i>-step*page){
            i += -step;
            aniPosition.css('background-position',"0px " + i + "px");
            console.log("i="+i);
            }
        }, 35);
        
    }

//走马灯(div,总页数+1，宽度)

function slider(who,totalSlides,width){
        var currentSlide=1;
        var interval;
        function startslide(){
        interval=setInterval(function(){
        who.animate({'margin-left':'-='+width+'px'},timeSpace*2,function(){
        currentSlide++;
            if(currentSlide==totalSlides){
                currentSlide=1;
                who.css("margin-left",0);
            }
        });
        },3000);}
        startslide();
        };
    
//鼠标滚动页面翻页调用scrollFun函数-浏览器兼容
if((navigator.userAgent.toLowerCase().indexOf("firefox") != -1)) { window.addEventListener('DOMMouseScroll',scrollFun,{passive:false}); 
} else if(document.addEventListener) { 
window.addEventListener('mousewheel',scrollFun,{passive:false}); 
}else if (document.attachEvent) {
document.attachEvent("onmousewheel", scrollFun);
}else {
document.onmousewheel = scrollFun;
}

//页面切换主文字动效
function textGo(content,date,title,text){
        content.animate({"opacity":"0"},timeSpace);
        
        if(winWidth>768){
        date.animate({"top":"12rem"},timeSpace);
        title.animate({"top":"3.6rem"},timeSpace);
        text.animate({"top":"3.6rem"},timeSpace);
        }
        
}
function textCome(content,date,title,text){
        content.delay(timeSpace).animate({"opacity":"1"},timeSpace);
        
        if(winWidth>768){
        date.delay(timeSpace).animate({"top":"0"},timeSpace);
        title.delay(timeSpace).animate({"top":"0"},timeSpace);
        text.delay(timeSpace).animate({"top":"0"},timeSpace);
        }
        
}
//延时出现透明度变为1
function appear(who){
        who.delay(timeSpace).animate({'opacity':'1'},timeSpace);
}
//消失透明度变为0
function disappear(who){
        who.animate({'opacity':'0'},timeSpace);
}  
//背景向左移动
function backToleft(){
    back.animate({'left':'-=100vw'},timeSpace*2);
} 
//背景向右移动
function backToright(){
    back.animate({'left':'+=100vw'},timeSpace*2);
} 
//时间线切换
function timelineChange(n,m){
    var small="#timeLine li:nth-child("+n+")";
    var large="#timeLine li:nth-child("+m+")";
    $(small).css('opacity','0.6').css('font-size','1.4rem');
    $(large).css('opacity','1').css('font-size','2.4rem');
}
//滚动事件处理函数

function scrollFun(event) {
        startTime = new Date().getTime();
        var delta = event.detail || (-event.wheelDelta);
        //mousewheel事件中的 “event.wheelDelta” 属性值：返回的如果是正值说明滚轮是向上滚动
        //DOMMouseScroll事件中的 “event.detail” 属性值：返回的如果是负值说明滚轮是向上滚动
        if ((endTime - startTime) < -1000) {
        if (delta > 0) {
        //向下滚动
        if(count==9){return ''}else{
            count++;
            
            //探索之旅开始2018.11
            if(count==2){ 
                //消失
                disappear(content1);
                disappear(firstpic);
                disappear(hint);
                
                if(winWidth>768){
                back1.animate({'width':'93vw'},timeSpace,function(){
                back.animate({'opacity':'1'},timeSpace);
                back1.animate({'opacity':'0'},timeSpace);
                });
                }else{
                back.animate({'opacity':'1'},timeSpace);
                back1.animate({'opacity':'0'},timeSpace);
                }
                
                //出现
                appear(timeLine);
                $("#timeLine li:first-child").css('opacity','1').css('font-size','2.4rem');
                appear(content2);
                appear(explore1);
                // start(pic1,pic1Width,34);
                appear(explore2);
                // start(pic2,pic2Width,34);
                appear(explore3);
                // start(pic3,pic3Width,34);
                disappear(demo);
            }
            
            //demo上线2019.07      
            if(count==3){ 
                backToleft();
                textGo(content2,date2,title2,text2);
                textCome(content3,date3,title3,text3);
                timelineChange(1,2);
                disappear(explore);

                if(winWidth>768){
                explore1.animate({'opacity':'0','right':'60vw'},timeSpace);
                explore2.animate({'opacity':'0','right':'45vw'},timeSpace);
                explore3.animate({'opacity':'0','right':'30vw'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1','left':'15vw'},timeSpace); 
                }else{
                explore1.animate({'opacity':'0'},timeSpace);
                explore2.animate({'opacity':'0'},timeSpace);
                explore3.animate({'opacity':'0'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1'},timeSpace); 
                }
                
                
                // start(demo,thirdPicHeight,34);
                // $("#thirdPic img").delay(timeSpace*2).animate({'opacity':'1'},500);
                }
            
            //能力积累2019.08
            if(count==4){ 
                backToleft();
                textGo(content3,date3,title3,text3);
                textCome(content4,date4,title4,text4);
                timelineChange(2,3);
                if(winWidth>768){
                ability.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                demo.animate({'opacity':'0','left':'-5vw'},timeSpace);
                }else{
                ability.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                demo.animate({'opacity':'0'},timeSpace);
                }
                
                }
            
            //助力市场2019.09
            if(count==5){
                backToleft();
                textGo(content4,date4,title4,text4);
                textCome(content5,date5,title5,text5);
                timelineChange(3,4);
                if(winWidth>768){
                ability.animate({'opacity':'0','left':'0vw'},timeSpace);
                video.delay(timeSpace).show().animate({'opacity':'1','left':'0vw'},timeSpace);
                }else{
                ability.animate({'opacity':'0'},timeSpace);
                video.delay(timeSpace).show().animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //支持techworld2019.10
            
            if(count==6){ 
                backToleft();
                textGo(content5,date5,title5,text5);
                textCome(content6,date6,title6,text6);
                timelineChange(4,5);
                if(winWidth>768){
                video.animate({'opacity':'0','left':'-20vw'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1','left':'0vw'},timeSpace);
                }else{
                video.animate({'opacity':'0'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                slider(flexslider,4,boxWidth);
                } 
            
            //展览2019.11
            if(count==7){ 
                backToleft();
                textGo(content6,date6,title6,text6);
                textCome(content7,date7,title7,text7);
                timelineChange(5,6);
                if(winWidth>768){
                sliders.animate({'opacity':'0','left':'-20vw'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                }else{
                sliders.animate({'opacity':'0'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //总结数据now
            if(count==8){
                backToleft();
                textGo(content7,date7,title7,text7);
                textCome(content8,date8,title8,text8);
                timelineChange(6,7);
                if(winWidth>768){
                stage.animate({'opacity':'0','left':'0vw'},timeSpace); 
                sucai.delay(timeSpace).animate({'right':'20vw','opacity':'1'},timeSpace);
                yong.delay(timeSpace).animate({'right':'40vw','opacity':'1'},timeSpace);
                zhuli.delay(timeSpace).animate({'right':'10vw','opacity':'1'},timeSpace);
                }else{
                stage.animate({'opacity':'0'},timeSpace); 
                sucai.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                yong.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                zhuli.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //联系方式
            if(count==9){
                back.animate({'opacity':'0'},timeSpace*2);
                disappear(content8);
                disappear(timeLine);
                disappear(sucai);
                disappear(yong);
                disappear(zhuli);
                appear(footer);
                appear(content9);
                appear($("#finalpic"));
                appear($(".flyDec"));
                appear($("#finalcontact"));
                $(".leftdown").css("opacity","0");
                $("#seventh").hide();
                $(".logo img").attr("src","{{ url_for('static', filename='image/onlylogoblue.svg')}}");
                $(".line1").css({"background-color":"#444553"});
                $(".line2").css({"background-color":"#444553"});
                $(".line3").css({"background-color":"#444553"});

                } 
            }
                
            }
        if (delta < 0 ) {
        //向上滚动
        if(count==1){return ''}else{
            count--;
            
            //首页
            if(count==1){
                appear(content1);
                appear(firstpic);

                
                    back1.animate({'opacity':'1'},timeSpace,function(){
                    if(winWidth>768){
                        back1.animate({'width':'100vw'},timeSpace);
                    }
                    
                });
                
                
                disappear(content2);
                disappear(back);
                disappear(timeLine);
                disappear(explore1);
                disappear(explore2);
                disappear(explore3);
                } 
            
            //探索之旅开始2018.11
            if(count==2){ 
                backToright();
                textGo(content3,date3,title3,text3);
                textCome(content2,date2,title2,text2);
                timelineChange(2,1); 
                if(winWidth>768){
                explore1.delay(timeSpace).animate({'opacity':'1','right':'40vw'},timeSpace);
                explore2.delay(timeSpace).animate({'opacity':'1','right':'25vw'},timeSpace);
                explore3.delay(timeSpace).animate({'opacity':'1','right':'10vw'},timeSpace);
                demo.animate({'opacity':'0','left':'35vw'},timeSpace); 
                }else{
                explore1.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                explore2.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                explore3.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                demo.animate({'opacity':'0'},timeSpace); 
                }
                
                }
            
            //demo上线2019.07 
            if(count==3){ 
                backToright();
                textGo(content4,date4,title4,text4);
                textCome(content3,date3,title3,text3);
                timelineChange(3,2); 
                if(winWidth>768){
                ability.animate({'opacity':'0','left':'40vw'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1','left':'15vw'},timeSpace); 
                }else{
                ability.animate({'opacity':'0'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1'},timeSpace); 
                }
                
                }
            
            //能力积累2019.08
            if(count==4){
                backToright();
                textGo(content5,date5,title5,text5);
                textCome(content4,date4,title4,text4);
                timelineChange(4,3); 
                if(winWidth>768){
                ability.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                video.animate({'opacity':'0','left':'20vw'},timeSpace);
                }else{
                ability.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                video.animate({'opacity':'0'},timeSpace);
                }
                
                }
            
            //助力市场2019.09
            if(count==5){
                backToright();
                textGo(content6,date6,title6,text6);
                textCome(content5,date5,title5,text5);
                timelineChange(5,4); 
                if(winWidth>768){
                video.delay(timeSpace).animate({'opacity':'1','left':'0vw'},timeSpace);
                sliders.animate({'opacity':'0','left':'20vw'},timeSpace);
                }else{
                video.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                sliders.animate({'opacity':'0'},timeSpace);
                }
                
                } 
            
            //支持techworld2019.10
            if(count==6){
                backToright();
                textGo(content7,date7,title7,text7);
                textCome(content6,date6,title6,text6);
                timelineChange(6,5); 
                if(winWidth>768){
                stage.animate({'opacity':'0','left':'40vw'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1','left':'0vw'},timeSpace);
                }else{
                stage.animate({'opacity':'0'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //展览2019.11
            if(count==7){ 
                backToright();
                textGo(content8,date8,title8,text8);
                textCome(content7,date7,title7,text7);
                if(winWidth>768){
                sucai.animate({'right':'0vw','opacity':'0'},timeSpace);
                yong.animate({'right':'20vw','opacity':'0'},timeSpace);
                zhuli.animate({'right':'-10vw','opacity':'0'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                }else{
                sucai.animate({'opacity':'0'},timeSpace);
                yong.animate({'opacity':'0'},timeSpace);
                zhuli.animate({'opacity':'0'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                timelineChange(7,6); 
                } 
            
            //总结数据now
            if(count==8){ 
                appear(back);
                disappear(content9);
                content8.delay(timeSpace).animate({"opacity":"1"},timeSpace);
                sucai.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                yong.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                zhuli.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                disappear(footer);
                disappear($("#finalpic"));
                disappear($(".flyDec"));
                disappear($("#finalcontact"));
                appear($(".leftdown"));
                appear(timeLine);
                $("#seventh").show();
                $(".logo img").attr("src","{{ url_for('static', filename='image/XiaohuiMobile.svg')}}");
                $(".line1").css({"background-color":"white"});
                $(".line2").css({"background-color":"white"});
                $(".line3").css({"background-color":"white"});

                }
            }   
            }
            endTime = new Date().getTime();
        }
        else {
            event.preventDefault();
        }
    }

//移动端导航部分
var Navcount=1;
$(".mobileNav").on("click",function(){
    Navcount++;
    if(Navcount%2==0){
      $(".line1").css({"transform":"rotateZ(45deg)","width":"31px","background-color":"white"});
      $(".line2").hide();
      $(".line3").css({"transform":"rotateZ(-45deg)","width":"31px","background-color":"white"});
      $(".mobileNav-details").css("width","100%");
    }
    else{
      if(count==9){
        $(".line1").css({"transform":"rotateZ(0deg)","width":"26px","background-color":"#444553"});
        $(".line3").css({"transform":"rotateZ(0deg)","width":"26px","background-color":"#444553"});
      }else{
        $(".line1").css({"transform":"rotateZ(0deg)","width":"26px"});
        $(".line3").css({"transform":"rotateZ(0deg)","width":"26px"});
      }
      $(".line2").show();
      $(".mobileNav-details").css("width","0");
    }
})
// 移动端logo变化
if(winWidth<768){
    $(".logo img").attr("src","{{ url_for('static', filename='image/xiaohuiMobile.svg')}}");
}else{
    $(".logo img").attr("src","{{ url_for('static', filename='image/Xiaohui@2x.svg')}}");
}


// 手指滑动
var startx, starty;
// var direction;
    //获得角度
    function getAngle(angx, angy) {
        return Math.atan2(angy, angx) * 180 / Math.PI;
    };
 
    //根据起点终点返回方向 1向上 2向下 3向左 4向右 0未滑动
    function getDirection(startx, starty, endx, endy) {
        var angx = endx - startx;
        var angy = endy - starty;
        var result = 0;
 
        //如果滑动距离太短
        if (Math.abs(angx) < 2 && Math.abs(angy) < 2) {
            return result;
        }
 
        var angle = getAngle(angx, angy);
        if (angle >= -135 && angle <= -45) {
            result = 1;
        } else if (angle > 45 && angle < 135) {
            result = 2;
        } else if ((angle >= 135 && angle <= 180) || (angle >= -180 && angle < -135)) {
            result = 3;
        } else if (angle >= -45 && angle <= 45) {
            result = 4;
        }
 
        return result;
    }
    //手指接触屏幕
    document.addEventListener("touchstart", function(e) {
        startx = e.touches[0].pageX;
        starty = e.touches[0].pageY;
    }, false);
    //手指离开屏幕
    document.addEventListener("touchend", function(e) {
        var endx, endy;
        endx = e.changedTouches[0].pageX;
        endy = e.changedTouches[0].pageY;
        var direction = getDirection(startx, starty, endx, endy);
        switch (direction) {
            case 0:
                // alert("未滑动！");
                break;
            case 1:
                touchScroll(1);
                console.log(count);
                break;
            case 2:
                touchScroll(-1);
                break;
            case 3:
                touchScroll(1);
                break;
            case 4:
                touchScroll(-1);
                break;
            default:
        }
    }, false);

// 滑动事件处理函数
function touchScroll(direction){
        if(direction==1){
            if(count==9){return ''}else{
            count++;

            //探索之旅开始2018.11
            if(count==2){ 
                //消失
                disappear(content1);
                disappear(firstpic);
                disappear(hint);
                
                if(winWidth>768){
                back1.animate({'width':'93vw'},timeSpace,function(){
                back.animate({'opacity':'1'},timeSpace);
                back1.animate({'opacity':'0'},timeSpace);
                });
                }else{
                back.animate({'opacity':'1'},timeSpace);
                back1.animate({'opacity':'0'},timeSpace);
                }
                
                //出现
                appear(timeLine);
                $("#timeLine li:first-child").css('opacity','1').css('font-size','2.4rem');
                appear(content2);
                appear(explore1);
                // start(pic1,pic1Width,34);
                appear(explore2);
                // start(pic2,pic2Width,34);
                appear(explore3);
                // start(pic3,pic3Width,34);
                disappear(demo);
            }
            
            //demo上线2019.07      
            if(count==3){ 
                backToleft();
                textGo(content2,date2,title2,text2);
                textCome(content3,date3,title3,text3);
                timelineChange(1,2);
                disappear(explore);

                if(winWidth>768){
                explore1.animate({'opacity':'0','right':'60vw'},timeSpace);
                explore2.animate({'opacity':'0','right':'45vw'},timeSpace);
                explore3.animate({'opacity':'0','right':'30vw'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1','left':'15vw'},timeSpace); 
                }else{
                explore1.animate({'opacity':'0'},timeSpace);
                explore2.animate({'opacity':'0'},timeSpace);
                explore3.animate({'opacity':'0'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1'},timeSpace); 
                }
                
                
                // start(demo,thirdPicHeight,34);
                // $("#thirdPic img").delay(timeSpace*2).animate({'opacity':'1'},500);
                }
            
            //能力积累2019.08
            if(count==4){ 
                backToleft();
                textGo(content3,date3,title3,text3);
                textCome(content4,date4,title4,text4);
                timelineChange(2,3);
                if(winWidth>768){
                ability.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                demo.animate({'opacity':'0','left':'-5vw'},timeSpace);
                }else{
                ability.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                demo.animate({'opacity':'0'},timeSpace);
                }
                
                }
            
            //助力市场2019.09
            if(count==5){
                backToleft();
                textGo(content4,date4,title4,text4);
                textCome(content5,date5,title5,text5);
                timelineChange(3,4);
                if(winWidth>768){
                ability.animate({'opacity':'0','left':'0vw'},timeSpace);
                video.delay(timeSpace).show().animate({'opacity':'1','left':'0vw'},timeSpace);
                }else{
                ability.animate({'opacity':'0'},timeSpace);
                video.delay(timeSpace).show().animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //支持techworld2019.10
            
            if(count==6){ 
                backToleft();
                textGo(content5,date5,title5,text5);
                textCome(content6,date6,title6,text6);
                timelineChange(4,5);
                if(winWidth>768){
                video.animate({'opacity':'0','left':'-20vw'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1','left':'0vw'},timeSpace);
                }else{
                video.animate({'opacity':'0'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                slider(flexslider,4,boxWidth);
                } 
            
            //展览2019.11
            if(count==7){ 
                backToleft();
                textGo(content6,date6,title6,text6);
                textCome(content7,date7,title7,text7);
                timelineChange(5,6);
                if(winWidth>768){
                sliders.animate({'opacity':'0','left':'-20vw'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                }else{
                sliders.animate({'opacity':'0'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //总结数据now
            if(count==8){
                backToleft();
                textGo(content7,date7,title7,text7);
                textCome(content8,date8,title8,text8);
                timelineChange(6,7);
                if(winWidth>768){
                stage.animate({'opacity':'0','left':'0vw'},timeSpace); 
                sucai.delay(timeSpace).animate({'right':'20vw','opacity':'1'},timeSpace);
                yong.delay(timeSpace).animate({'right':'40vw','opacity':'1'},timeSpace);
                zhuli.delay(timeSpace).animate({'right':'10vw','opacity':'1'},timeSpace);
                }else{
                stage.animate({'opacity':'0'},timeSpace); 
                sucai.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                yong.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                zhuli.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //联系方式
            if(count==9){
                back.animate({'opacity':'0'},timeSpace*2);
                disappear(content8);
                disappear(timeLine);
                disappear(sucai);
                disappear(yong);
                disappear(zhuli);
                appear(footer);
                appear(content9);
                appear($("#finalpic"));
                appear($(".flyDec"));
                appear($("#finalcontact"));
                $(".leftdown").css("opacity","0");
                $("#seventh").hide();
                $(".logo img").attr("src","{{ url_for('static', filename='image/onlylogoblue.svg')}}");
                $(".line1").css({"background-color":"#444553"});
                $(".line2").css({"background-color":"#444553"});
                $(".line3").css({"background-color":"#444553"});

                } 
                
                    
                }
        }

        if(direction==-1){
            //向上滚动
        if(count==1){return ''}else{
            count--;
            
            //首页
            if(count==1){
                appear(content1);
                appear(firstpic);

                
                    back1.animate({'opacity':'1'},timeSpace,function(){
                    if(winWidth>768){
                        back1.animate({'width':'100vw'},timeSpace);
                    }
                    
                });
                
                
                disappear(content2);
                disappear(back);
                disappear(timeLine);
                disappear(explore1);
                disappear(explore2);
                disappear(explore3);
                } 
            
            //探索之旅开始2018.11
            if(count==2){ 
                backToright();
                textGo(content3,date3,title3,text3);
                textCome(content2,date2,title2,text2);
                timelineChange(2,1); 
                if(winWidth>768){
                explore1.delay(timeSpace).animate({'opacity':'1','right':'40vw'},timeSpace);
                explore2.delay(timeSpace).animate({'opacity':'1','right':'25vw'},timeSpace);
                explore3.delay(timeSpace).animate({'opacity':'1','right':'10vw'},timeSpace);
                demo.animate({'opacity':'0','left':'35vw'},timeSpace); 
                }else{
                explore1.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                explore2.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                explore3.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                demo.animate({'opacity':'0'},timeSpace); 
                }
                
                }
            
            //demo上线2019.07 
            if(count==3){ 
                backToright();
                textGo(content4,date4,title4,text4);
                textCome(content3,date3,title3,text3);
                timelineChange(3,2); 
                if(winWidth>768){
                ability.animate({'opacity':'0','left':'40vw'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1','left':'15vw'},timeSpace); 
                }else{
                ability.animate({'opacity':'0'},timeSpace);
                demo.delay(timeSpace).animate({'opacity':'1'},timeSpace); 
                }
                
                }
            
            //能力积累2019.08
            if(count==4){
                backToright();
                textGo(content5,date5,title5,text5);
                textCome(content4,date4,title4,text4);
                timelineChange(4,3); 
                if(winWidth>768){
                ability.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                video.animate({'opacity':'0','left':'20vw'},timeSpace);
                }else{
                ability.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                video.animate({'opacity':'0'},timeSpace);
                }
                
                }
            
            //助力市场2019.09
            if(count==5){
                backToright();
                textGo(content6,date6,title6,text6);
                textCome(content5,date5,title5,text5);
                timelineChange(5,4); 
                if(winWidth>768){
                video.delay(timeSpace).animate({'opacity':'1','left':'0vw'},timeSpace);
                sliders.animate({'opacity':'0','left':'20vw'},timeSpace);
                }else{
                video.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                sliders.animate({'opacity':'0'},timeSpace);
                }
                
                } 
            
            //支持techworld2019.10
            if(count==6){
                backToright();
                textGo(content7,date7,title7,text7);
                textCome(content6,date6,title6,text6);
                timelineChange(6,5); 
                if(winWidth>768){
                stage.animate({'opacity':'0','left':'40vw'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1','left':'0vw'},timeSpace);
                }else{
                stage.animate({'opacity':'0'},timeSpace);
                sliders.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                } 
            
            //展览2019.11
            if(count==7){ 
                backToright();
                textGo(content8,date8,title8,text8);
                textCome(content7,date7,title7,text7);
                if(winWidth>768){
                sucai.animate({'right':'0vw','opacity':'0'},timeSpace);
                yong.animate({'right':'20vw','opacity':'0'},timeSpace);
                zhuli.animate({'right':'-10vw','opacity':'0'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1','left':'20vw'},timeSpace);
                }else{
                sucai.animate({'opacity':'0'},timeSpace);
                yong.animate({'opacity':'0'},timeSpace);
                zhuli.animate({'opacity':'0'},timeSpace);
                stage.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                }
                
                timelineChange(7,6); 
                } 
            
            //总结数据now
            if(count==8){ 
                appear(back);
                disappear(content9);
                content8.delay(timeSpace).animate({"opacity":"1"},timeSpace);
                sucai.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                yong.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                zhuli.delay(timeSpace).animate({'opacity':'1'},timeSpace);
                disappear(footer);
                disappear($("#finalpic"));
                disappear($(".flyDec"));
                disappear($("#finalcontact"));
                appear($(".leftdown"));
                appear(timeLine);
                $("#seventh").show();
                $(".logo img").attr("src","{{ url_for('static', filename='image/XiaohuiMobile.svg')}}");
                $(".line1").css({"background-color":"white"});
                $(".line2").css({"background-color":"white"});
                $(".line3").css({"background-color":"white"});

                }
            } 
        }
    }




    
</script> 
</body>
  
    
   

</html>