<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <title>设计生成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gdesign.css')}}">
    <script src="https://code.jquery.com/jquery-1.8.3.min.js">
    </script>
    
    
</head>

<body>
<!--页面信息-->
<div id="landing">
<div id="back"><video width="100%" height="auto" autoplay muted loop>
<source src="{{ url_for('static', filename='image/gdesign.mp4')}}" type="video/mp4">
</video></div>
<div id="front"> </div>
</div>
    
<div id="title">
<h1>望远镜-背景拓展工具</h1>
<p>设计生成是降维神经网络与资深设计师先验经验的结合，可应用于快速生成张张不同的抽象背景素材。</p>
<button id="gotoTry">试试看</button>
</div>
<!--向下滚-->
<div id="scroll">
<div id="pro">

<div id="proSub">
<div class="proSub1">
<div id="proicon1">
<div class="icon1"></div><div class="icon2"></div>     
</div>
<div class="proh3"><h3>一秒千张</h3></div>
<div class="prop"><p>视觉素材批量极速生成,助力高效工作</p></div>
</div>
<div class="proSub1">
<div id="proicon2">
<div class="icon1"></div><div class="icon2"></div><div class="icon3"></div><div class="icon4"></div>    
</div>
<div class="proh3"><h3>张张独特</h3></div>
<div class="prop"><p>每张素材独一无二,不埋没设计的个性</p></div> 
</div>
<div class="proSub1">
<div id="proicon3">
<div class="icon1"></div><div class="icon2"></div><div class="icon3"></div>     
</div>
<div class="proh3"><h3>效果保证</h3></div>
<div class="prop"><p>生成效果把关,确保设计风格稳定</p></div>
</div>
</div>
</div>
    
<!--学习过程-->
<div id="studyProcess">
<div id="dec1"></div>
<div id="dec2"></div>
<div id="dec3"></div>
<div id="dec4"></div>
<div class="mainInfo" id="studyInfo">
<div><h1>学习过程</h1></div>
<div><p>像人类一样学习，并且更有条理</p></div>
</div>
<div id="videoStudy"> 
<video width="100%" height="100%" autoplay muted loop>
<source src="{{ url_for('static', filename='image/gdesignprocess.mp4')}}" type="video/mp4">
</video>
</div>
</div>
    
<!--能力演示 --> 
<div id="demo">
<div class="mainInfo" id="demoInfo">
<div><h1>能力演示</h1></div>
<div><p>点击任意图片体验定向无限背景生成能力，该能力演示基于<a href="#">设计生成API</a>搭建，
<br>如果您对技术能力有特别要求，欢迎联系我们。</p></div>
</div>
<div id="demoloading"></div>
<div id="demoPart">
<div id="demoTitle">
<p>随机生成：</p>
<div>
<!--<button>上一批</button>-->
<button onclick="getImage();$('#demoloading').show();
       $('#demoPart').hide();">下一批</button>
</div>
</div>
<div id="demoFirstline">
<div><img id="triggerone" src="#" /></div>
<div><img src="#" /></div>
<div><img src="#" /></div>
<div><img src="#" /></div>
<div><img src="#" /></div>
</div>
    
<div id="demoSecondline">
<div><img src="#" /></div>
<div><img src="#" /></div>
<div><img src="#" /></div>
<div><img src="#" /></div>
<div><img src="#" /></div>    
</div>
</div>

</div>

<!--应用案例 --> 
<div id="case">
<div class="mainInfo" id="caseInfo">
<div><h1>应用案例</h1></div>
<div><p>多场景应用的视觉素材</p></div>
</div>
<div class="pic" id="pic4">
<div id="packaging">
<div class="gray" id="packUp"></div>
<div id="packLeft">
    <div class="gray" id="packLeft1"></div><div class="gray" id="packLeft2"></div><div id="packLeft3"><h1>PACKAGING</h1></div>
</div>
<div id="packRight">
    <div class="gray" id="packRight1"></div><div class="gray" id="packRight2"></div>
</div> 
</div>  
    
<div id="advertising">
<div id="adverLeft">
    <div class="gray" id="adverLeft1"></div><div class="gray" id="adverLeft2"></div><div id="adverLeft3"><h1>ADVERTISEMENT</h1></div><div class="gray" id="adverLeft4"></div><div class="gray" id="adverLeft5"></div>
</div>
<div id="adverRight">
    <div class="gray" id="adverRight1"></div><div class="gray" id="adverRight2"></div><div class="gray" id="adverRight3"></div><div class="gray" id="adverRight4"></div>   
</div>
</div> 
    
<div id="brand">
<div id="brandLeft">
    <div id="brandLeft1"><h1>BRAND</h1></div><div class="gray" id="brandLeft2"></div><div class="gray" id="brandLeft3"></div><div class="gray" id="brandLeft4"></div>  
</div>
<div id="brandRight">
    <div class="gray" id="brandRight1"></div><div id="brandRight2"><h1>INTERACTION</h1></div><div class="gray" id="brandRight3"></div><div class="gray" id="brandRight4"></div>
</div>
</div> 
    
</div>
</div>   
<!--更多功能-->
<div id="more">
<div class="mainInfo" id="moreInfo">
<div><h1>尝试其他小绘智能设计能力</h1></div>
</div>
<div id="moreSub">
    
<div onclick="window.location.href= '/transfer';return false">
<div class="othericon"></div>
<div><h3>万花筒</h3><p>风格迁移工具</p></div>
<div></div>
</div>
    
<div onclick="window.location.href= '/cross';return false">
<div class="othericon"></div>
<div><h3>时光机</h3><p>肖像绘制工具</p></div>
</div>
    
</div>
</div>
    
<!--页脚-->
<div id="footer"> 
<div id="leftSide">
<div></div>
<p id="groupName">联想研究院用户体验设计</p> 
<p id="email">联系邮箱：yangzhi3@lenovo.com</p>

</div>   
<div id="rightSide">
<p>关注公众号“联想研究院UXD”<br>获取更多有趣的资讯~</p>
<div></div>
</div> 
</div>
<div id="line"></div>
<div id="middleSide"><p><span>Made with</span> 🧡❤️🧡❤️🧡❤️🧡 <span>by UXD Lenovo Research</span></p></div>  

</div>
<!--不动产-->
<div id="navback"></div>
<div class="nav">
      
        <div class="logo">
                <a href="/">
                <img src="{{ url_for('static', filename='image/logowhite.svg')}}" width=100% height=auto />
                </a>
        </div>
        
        <nav class="dropdownmenu">
        <ul>
        <li><a href="/" class="mainMenu">主页</a></li>
        <li id="gdesign"><a href="#" class="mainMenu">能力展示</a>
        <ul id="submenu">
        <li><a href="/gdesign">望远镜</a></li>
        <li><a href="/transfer">万花筒</a></li>
        <li><a href="/cross">时光机</a></li>
        </ul>
        </li>
        <li><a href="/api" class="mainMenu">API接入</a></li>
        <li><a href="/about" class="mainMenu">关于我</a></li>
        </ul>
        </nav>
            
        <div class="english">
         <a href="#">
         <p>EN</p>
         </a>
        </div>
</div>

    
<!--js代码-->
<script type="text/javascript"> 
    //赋值变量
    var tryPosition = $('#demo').offset().top;
    var oBox = document.getElementById('mask'),
        windowTop=0,
        windowH=window.innerHeight,
        proDiv=document.getElementById("pro"),
        proH=proDiv.offsetHeight,
        videoH=document.getElementById("studyProcess").offsetHeight,
        leftdownHint=$(".leftdown div"),
        scrolldiv=document.getElementsByClassName("flexslider"),
        leftdownSvg=$(".leftdown svg g g "),
        contactSvg=$(".contact svg g g "),
        logoChange=$("#logoChange g g"),
        english=$(".english a"),
        mainMenu=$(".mainMenu"),
        normalGray="#444553",
        whiteColor="white",
        contact=$(".contact"),
        leftDown=$(".leftdown"),
        flexslider=$(".flexslider"),
        qrcode=$(".qrcode"),
        qrcodeP=$(".qrcode p"),
        timeSpace=500;
    //页面加载
   
    window.onload=function(){
        //生成十张图
        getImage();

        /*点击试试看页面滑动*/
        $("#title button").on("click",function(){
            window.scrollTo({ 
            top: tryPosition, 
            behavior: "smooth" 
        });
        })
        //鼠标悬停
        contact.mouseenter(
                function () {
                    qrcode.css("width","20rem").css("height","24rem");
                    qrcodeP.css("opacity","1");
                    contact.css("opacity","1");
                });
        contact.mouseleave(
                function () {
                    qrcode.css("width","0rem").css("height","0rem");
                    qrcodeP.css("opacity","0");
                    contact.css("opacity","0.8");
                });
        leftDown.mouseenter(
                function () {
                    leftdownHint.css("opacity",1);
                });
        leftDown.mouseleave(
                function () {
                    leftdownHint.css("opacity",0);
                });
        
         // 上下滑动
        $(window).scroll(function() {
        let scrollS = $(this).scrollTop();
        //导航变化
        if(scrollS>10){
        $(".nav").css("top","9px");// 上滑时要做的事（上移一点）
        $("#navback").css("opacity","1");   
        }else{
        $(".nav").css("top","30px");// 上滑时要做的事（上移一点）
        $("#navback").css("opacity","0");  
        }
        //滚动页面动效
        var disappear=1-(scrollS/windowH)*2;
        $("#title").css("opacity",disappear);
        var coverOpacity=((scrollS-(proH+windowH))/windowH);
        $("#videoCover").css("opacity",coverOpacity); 
            
        //case微动
        var tryHeight=$("#demo").height();
        if(scrollS>tryPosition+tryHeight*1/3){
            var caseMove=(scrollS-tryPosition-tryHeight)*0.1;
            $("#packaging").css("transform","translateY("+caseMove+"px)");
            $("#brand").css("transform","translateY("+caseMove+"px)");
        }
        //图形元素微动
        var proPosition = $('#proSub').offset().top;
        var proHeight=$("#proSub").height();
        if(scrollS>proPosition/2){
        var squreMove=(scrollS-proPosition-proHeight)*0.2;
        $("#dec1").css("transform","translateY("+squreMove+"px)");
        $("#dec2").css("transform","translateY("+(-squreMove)+"px)");
        $("#dec3").css("transform","translateY("+squreMove+"px)");
        $("#dec4").css("transform","translateY("+(-squreMove)+"px)");
        }
        
        var pM=scrollS*0.05; 
        $("#proicon1 .icon1").css("transform","translate("+pM/2+"px,"+pM+"px)");
        $("#proicon1 .icon2").css("transform","translate("+(-pM)+"px,"+(-pM)+"px)");
        
        $("#proicon2 .icon1").css("transform","translate("+(-pM/2)+"px,"+(-pM/2)+"px)");
        $("#proicon2 .icon2").css("transform","translate("+pM/2+"px,"+(-pM/2)+"px)");
        $("#proicon2 .icon3").css("transform","translate("+(-pM/2)+"px,"+pM/2+"px)");
        $("#proicon2 .icon4").css("transform","translate("+pM/2+"px,"+pM/2+"px)");
            
        $("#proicon3 .icon1").css("transform","translate("+(-pM/2)+"px,"+pM+"px)");
        $("#proicon3 .icon3").css("transform","translate("+pM/2+"px,"+(-pM)+"px)");
        
        });
        //能力演示部分
        //hover上去赋予的功能：hover效果，download功能
        function whenHover(who){
          who.hover(function(){
          who.append("<button class='download'></button>");
          who.attr("id","readyTodownload");
          //下载图片   
          $('.download').click(function(){
          var div=document.getElementById('readyTodownload');
          var img=div.getElementsByTagName('img')[0];
          var url=img.src;
          var a=document.createElement('a');
          var event=new MouseEvent('click');
          a.download = 'Xiaohui-image';
          a.href=url;
          a.dispatchEvent(event);
          })
              
          },function(){
          $(".download").remove();
          who.removeAttr("id");
          });  
        }
        //点击图片本身赋予的功能：生成十张图并显示出来
        
        function whenClick(whichimg,who,i){
            
            
            whichimg.click(function(){
            
            $("#adddom").remove();
            $("#arrow").remove();
            who.parent().after("<div id='arrow'></div>");
            $("#arrow").css("margin-left","calc(7% + "+(8+17*i)+"vw + 6px)")
            $("#arrow").after("<div id='adddom'></div>");
            
            $("#adddom").append("<div id='domTitle'></div>");
            $("#adddom").append("<div id='domloading'></div>");
            $("#domTitle").append("<p>基于所选图特征定向生成：</p>");
            $("#domTitle").append("<div><button id='domNext'>下一批</button></div>");
            
            $("#adddom").append("<div id='domFirst'></div>");
            $("#adddom").append("<div id='domSecond'></div>");
            $("#domFirst").append("<div></div><div></div><div></div><div></div><div></div>");
            
            $("#domSecond").append("<div></div><div></div><div></div><div></div><div></div>");
            start($("#domloading"),15); 
          
            $('#domFirst div').each(function(i){
                $(this).append("<img src='#' />");
                whenHover($(this));
               
            });
            $('#domSecond div').each(function(i){
                $(this).append("<img src='#' />");
                whenHover($(this));
                
            });
            $("#domFirst").hide();
            $("#domSecond").hide();
            postImage(i);
            $("#domNext").on("click",function(){
             $("#domloading").show();
             $("#domFirst").hide();
             $("#domSecond").hide();
             postImage(i);
            });
            })
		 
        }
        
        //给每个div赋予hover和点击功能
        
        
        $('#demoFirstline div').each(function(i){
        var imgClick=this.getElementsByTagName("img")[0];
        whenClick($(imgClick),$(this),i);
        whenHover($(this));
        })
        $('#demoSecondline div').each(function(i){
        var imgClick=this.getElementsByTagName("img")[0];
        whenClick($(imgClick),$(this),i+5);
        whenHover($(this));
        })
        
        
        
    }
    //更新能力演示图片 
       $("#demoloading").show();
       $("#demoPart").hide();
        var imageObject={};
        function getImage(){
          
          $.ajax({
            type:'GET',
            url:'/style-gan-get?number=10',
            success:function(data){
                /*console.log(data.result[0].latent);*/
                var i=0;
                var j=5;
                $("#demoFirstline div").each(function(){
                $(this).find("img").attr('src',"data:image/png;base64,"+data.result[i].image);
                imageObject[i]=data.result[i].latent;
                
                i++;
                });
                $("#demoSecondline div").each(function(){
                $(this).find("img").attr('src',"data:image/png;base64,"+data.result[j].image);
                imageObject[j]=data.result[j].latent;
                j++;
                });
                $("#triggerone").trigger("click");
                $("#demoloading").hide();
                $("#demoPart").show();
                $("#domloading").show();
                $("#domFirst").hide();
                $("#domSecond").hide();
            },
            error:function(err){
                console.log(err);
            },
        });  
        }
    
    //post部分
         function postImage(i){
         var imgLatent={
         "latent":imageObject[i],
         };

         $.ajax({
            type:'POST',
            url:'/style-gan-post',
            contentType:'application/json',
            data:JSON.stringify(imgLatent),
            dataType:'json',
            success:function(data){
            console.log(data);
            var m=0;
                var j=5;
                $("#domFirst div").each(function(){
                $(this).find("img").attr('src',"data:image/png;base64,"+data.result[m].image);
                /*imageObject[m]=data.result[i].latent;*/
                
                i++;
                });
                $("#domSecond div").each(function(){
                $(this).find("img").attr('src',"data:image/png;base64,"+data.result[j].image);
                /*imageObject[j]=data.result[j].latent;*/
                j++;
                });
                $("#domloading").hide();
                $("#domFirst").show();
                $("#domSecond").show();
            },
            error:function(err){
            console.log(err);
            },
         }); 
         
         }
    //loading动画
    function start(aniPosition,step){
        var i=0;
        setInterval(
        function(){
            
            i += -step;
            aniPosition.css('background-position',"center " + i + "rem");
            
        }, 70);
        
    }     
    start($("#demoloading"),15); 
    
</script>
    
</body>
  
    
   

</html>