<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小绘</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?e2df743fde48309176ca4f42c089a8ff";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='image/favicon.png')}}">
</head>

<body>
<div id="loading" style="z-index: 999"><p>loading...</p></div>
<!--页面信息-->  
<div id="wrap">
    <div id="main">
        <!-- 第5页 -->
        <div id="page5" class="page">
        <div class="back" id="back5"> </div>
        <div id="footer">
        <div id="foot">
        <div id="textdiv1"></div>
        <div id="textdiv2"></div>
        <div id="textdiv3"></div>
        <div id="textdiv4"></div>
        <div id="textdiv5"></div>
        <div id="textdiv6"></div>
        </div>
        </div>
        <div class="cover"> </div>
        <div class="coverLeft"> </div>
        <div id="textmodel5" class="textmodel">
        
        <h1>随便说点什么吧</h1>
        
        <div id="header">
        <textarea name="comment" id="enjoy" autoHeight="true"></textarea>
        <div id="combtn">
        <button id="btn_put">提交</button>
        </div>
        </div>
    
        </div>

        <div class="front" id="front5"> </div>
        </div>
       

        <!--第四页-->
        <div id="page4" class="page">
        <div class="back" id="back4"> </div>
        <div id="recentdec"></div>
        <div class="textmodel"><h1>小绘近期动态</h1></div>
        <div class="pic" id="pic4">
            <div class="recent">
                <div id="recent1"></div>
                <div id="recent2"></div>
                <div id="recent3"></div>
            </div> 
            <div class="recent">
                <div id="recent4"></div>
                <div id="recent5"></div>
                <div id="recent6"></div>
            </div> 
        </div>
        <div id="recentText">
        
        <div class="recentTextIn" id="recentText1">
            <div class="recentTextA"><P>2020/07</P></div>
            <div class="recentTextB">
                <h3>新样本训练结果产出</h3><p>生成更细腻多彩的静态和动态图</p>
            </div>
        </div>
        <div class="recentTextIn" id="recentText2">
            <div class="recentTextA"><P>2020/06</P></div>
            <div class="recentTextB">
                <h3>破解蒙娜丽莎的正面</h3><p>StyleGAN揭开梦娜丽莎证件照</p>
            </div>
        </div>
        <div class="recentTextIn" id="recentText3">
            <div class="recentTextA"><P>2020/01</P></div>
            <div class="recentTextB">
                <h3>助力本智生活门店引流</h3><p>吸引顾客自助设计卡通形象照</p>
            </div>
        </div>    
        
        
        
         <div class="recentTextIn" id="recentText4">
            <div class="recentTextA"><P>2019/11</P></div>
            <div class="recentTextB">
                <h3>落地创意风格画框设备</h3><p>风格画框让照镜子变得更加有趣</p>
            </div>
        </div>
        <div class="recentTextIn" id="recentText5">
            <div class="recentTextA"><P>2019/10</P></div>
            <div class="recentTextB">
                <h3>参与全球科技展览</h3><p>小绘智能进驻科技展，现场火爆</p>
            </div>
        </div>
        <div class="recentTextIn" id="recentText6">
            <div class="recentTextA"><P>2019/08</P></div>
            <div class="recentTextB">
                <h3>支持市场团队物料设计</h3><p>一键设计市场团队整套VI物料</p>
            </div>
        
        </div>
        </div>
        <div id="forhover">
            <div class="recenthover">
                <div id="recenthover1"></div>
                <div id="recenthover2"></div>
                <div id="recenthover3"></div>
            </div> 
            <div class="recenthover">
                <div id="recenthover4"></div>
                <div id="recenthover5"></div>
                <div id="recenthover6"></div>
            </div> 
        </div>

        <div class="front" id="front4"> </div>
        </div>
        
        
       <!-- 第三页-->
        <div id="page3" class="page">
        <div class="back" id="back3"> </div>
        <div class="deccontrol11" id="scedec1"></div>
        <div class="deccontrol22" id="scedec2"></div>
        <div class="deccontrol33" id="scedec3"></div>
        <div class="textmodel" >
        <!--<div class="main" id="main3">
            <div class="div1"></div>
            <div class="div2"></div>
        </div>-->
        <h1>应用于多场景设计中，素材0元下载</h1>
        </div>
        <div class="pic" id="pic3">
        <div class="scenario" id="scenario1"><div class="scecover"><div class="icon"></div><p>品牌设计</p></div></div>
        <div class="scenario" id="scenario2"><div class="scecover"><div class="icon"></div><p>包装设计</p></div></div>
        <div class="scenario" id="scenario3"><div class="scecover"><div class="icon"></div><p>广告设计</p></div></div>
        <div class="scenario" id="scenario4"><div class="scecover"><div class="icon"></div><p>互动设计</p></div></div>
        </div>
        <div id="scenarioText">
        <div id="sceText1"><h3>品牌设计</h3><p>高效生成物料素材，一键延展品牌周边</p></div> 
        <div id="sceText2"><h3>包装设计</h3><p>低成本，定制化个性包装</p></div> 
        <div id="sceText3"><h3>广告设计</h3><p>千人千面助力智能广告创意营销</p></div> 
        <div id="sceText4"><h3>互动设计</h3><p>搭建可动可静的视觉互动体验</p></div> 
        </div>

        <div class="front" id="front3"> </div>
        </div>
        
        
        <!--  第二页-->
        <div id="page2" class="page">
        <div class="back" id="back2"> </div>
        <div class="deccontrol1" id="dec1"></div>
        <div class="deccontrol2" id="dec2"></div>
        <div class="deccontrol3" id="dec3"></div>
        <!--<div class="deccontrol4" id="dec4"></div>-->
        <div class="textmodel" id="textmodel2"><h1>3种工具，造出无穷想象</h1></div>
        <div class="pic" id="pic2">
            
        <div class="wangyuanjing">
        <div id="circle2"></div> 
        <div id="hover2" onclick="window.location.href= '/gdesign';return false"></div>
        <div class="descript"><p>望远镜</p></div>
        <div class="subDes"><p>背景拓展工具</p></div>
        <div id="details2"><p>1秒1万张<br>张张精彩，张张不同</p></div>
        <button onclick="window.location.href= '/gdesign';return false">试试看</button>
        </div>
            
        <div class="wanhuatong">
        <div id="circle1"></div> 
        <div id="hover1" onclick="window.location.href= '/transfer';return false"></div>
        <div class="descript"><p>万花筒</p></div>
        <div class="subDes"><p>风格迁移工具</p></div>
        <div id="details1"><p>把你想要的风格<br>一键迁移到你的图中</p></div>
        <button onclick="window.location.href= '/transfer';return false">试试看</button>
        </div>
        
        
        
        <div class="shiguangji">
        <div id="circle3"></div>  
        <div id="hover3" onclick="window.location.href= '/cross';return false"></div>
        <div class="descript"><p>时光机</p></div>
        <div class="subDes"><p>肖像绘制工具</p></div>
        <div id="details3"><p>让文艺复兴时期的大师<br>为你画肖像</p></div>
        <button onclick="window.location.href= '/cross';return false">试试看</button>
        </div>
        
        </div>

        <div class="front" id="front2"> </div>
        </div>
       

        <!--第一页-->
        <div id="page1" class="page">
        <div class="back" id="back1"> </div>
        <div class="flyDec">
        <div id="rect2"></div>
        <div id="rect3"></div>
        <div id="rect4"></div>  
        <div id="rect5"></div>  
        <div id="rect6"></div>  
        </div>
        
        <div id=moveDec>
        <div id="move1"></div>
        <div id="move2"></div>  
        <div id="move3"></div>  
        <div id="move4"></div>  
        <div id="move5"></div>  
        <div id="move6"></div>  
        <div id="move7"></div>  
        <div class="landinginner"></div>
        <div class="landingwink"></div>
        </div>
        
        <div id="textmodel1">
        <h1>未来创意<br>人类参与1%</h1>
        <p>帮助你完成99%的基础设计工作，剩下1%的创意空间留给你！</p>
        </div>

        <div class="front" id="front1"> </div>
        </div>
        
    </div>
</div>
<!--不动产-->
<div class="nav">
        <div class="logo">
                <a href="/">
                <img src="{{ url_for('static', filename='image/Xiaohui@2x.svg')}}" width=100% height=auto />
                </a>
        </div>
        
        <nav class="dropdownmenu">
        <ul>
        <li id="homepage"><a href="/">主页</a></li>
        <li><a href="#">能力展示</a>
        <ul id="submenu">
        <li><a href="/gdesign">望远镜</a></li>
        <li><a href="/transfer">万花筒</a></li>
        <li><a href="/cross">时光机</a></li>
        </ul>
        </li>
        <li><a href="#">API接入</a></li>
        <li><a href="/about">关于我</a></li>
        </ul>
        </nav>
            
        <div class="english">
         <a href="#">
         <p>EN</p>
         </a>
        </div>
        </div>
<div id="pagenumber">
<div class="pagenumber"></div>
<div id="pagedot">
<div id="dot1"></div> 
<div id="dot2"></div> 
<div id="dot3"></div> 
<div id="dot4"></div>
<div id="dot5"></div> 

</div>


</div>    



<div id="noticeUs">
    <div id="noticeUsTitle"><p>扫码关注</p></div>
    <div id="noticeQR"></div>
    <div class="contact">
        <img src="{{ url_for('static', filename='image/qrcode.svg')}}"/>
    </div>
</div>

    
<!--js代码部分-->
<script type="text/javascript">
//赋值变量
var startTime = 0, //翻屏起始时间
            endTime = 0,
            count = 1,
            timeSpace=500,
            
            page1=$("#page1"),
            back1=$("#back1"),
            text1=$("#textmodel1"),
            page2=$("#page2"),
            back2=$("#back2"),
            text2=$("#textmodel2"),
            page3=$("#page3"),
            back3=$("#back3"),
            text3=$("#textmodel3"),
            page4=$("#page4"),
            back4=$("#back4"),
            text4=$("#textmodel4"),
            page5=$("#page5"),
            back5=$("#back5"),
            text5=$("#textmodel5"),
            
           
            main2div1=$('#main2 .div1'),
            main2div2=$('#main2 .div2'),
            main3div1=$('#main3 .div1'),
            main3div2=$('#main3 .div2'),
            main4div1=$('#main4 .div1'),
            main4div2=$('#main4 .div2'),
            main5div1=$('#main5 .div1'),
            main5div2=$('#main5 .div2'),
            
            wangyuanjing=$(".wangyuanjing"),
            wanhuatong=$(".wanhuatong"),
            shiguangji=$(".shiguangji"),
            
            contact=$(".contact"),
            qrcode=$(".qrcode"),
            qrcodeP=$(".qrcode p"),
            nav=$(".nav"),
            loading=$("#loading"),
            warp=$("#warp"),
            flexslider=$(".flexslider"),
            
            
            landingPosition = document.querySelector('.landinginner'),
            m=(-landingPosition.clientHeight)*15,
            i=0,
            divwidth=landingPosition.clientWidth,
            
            halfwidth=divwidth/2,
            div = document.getElementsByClassName("landinginner")[0], 
            divout = document.getElementsByClassName("landing-animation")[0],
            countx=document.getElementById("countx");
        
        
        
    


//页面loading
document.onreadystatechange = loadingChange;
function loadingChange(){ 
            if(document.readyState === "loading"){ 
				loading.show();
                warp.hide();
                nav.hide();
			} 
			if(document.readyState === "complete"){ 
				loading.hide();
                warp.show();
                nav.show();
			} 
		} 

//序列帧动画（div，每次动多少，多少张）
function startlanding(aniPosition,step){
        var i=0;
        var n=0;
        var opa=1;
        //序列帧向上动
        
        setInterval(
        function(){
            if(i==-40*61){
                i=-40*60;
            }
            aniPosition.css('background-position',"0 " + i + "vw");
            $(".landingwink").css({"background-position":"0 " + i + "vw","opacity":opa});
            n++;
            if(n%61==0){
            step=-step;
            opa=-1;
            }
            if(n%244==0){
            opa=1;
            }
            i+=-step;
            
            if(i==40){
                i=0;
            }
            
        }, 25);        
}  

//windowonload-交互-鼠标悬浮
var flyCube=$(".flyDec div");
window.onload = function(){
       //首页landing
       var landinginnerWidth=$(".landinginner").width();
       startlanding($(".landinginner"),40);
     
        //更新服务器评论  
        var line=1;
        $.ajax({
            type:'GET',
            url:'/get-message',
            success:function(data){
                /*console.log(data);*/
                $.each(data,function(i,commentValue){
                    $.each(commentValue,function(i,value){
                    var textsize=Math.floor(Math.random()*3)+1;//随机字体大小
                    $("#textdiv"+line).prepend("<p style='font-size:"+textsize+"rem'>"+commentValue[i]+"</p>");  
                    line++;
                    if(line>=7){
                        line=1;
                    }
                    })
                })
            },
            error:function(err){
                console.log(err);
            },
        });
    
        var count = 0;
    //发表评论    
        var btnPut=document.getElementById('btn_put');
        var newtext=1;
        var textnum=1; 
        btnPut.onclick=function(){
        
        var getContent=document.getElementById('enjoy').value;
        if(getContent){
        var content=document.getElementById('textdiv'+textnum);
        var bodydata = {}
        bodydata.comment = getContent
        console.log(bodydata)
        //评论上传服务器    
       $.ajax({
           type:'POST',
           url:'/leave-message',
           contentType:'application/json',
           data:JSON.stringify(bodydata),
           dataType:'json',
           success:function(data){
               console.log(data)
           },
           error:function(err){
               console.log(err)
           },
       });
        $("#textdiv"+textnum).prepend("<p style='color: #5376FF;font-size:3rem'>"+getContent+"</p>");  
        document.getElementById('enjoy').value='';
        if(textnum<6){textnum++;}else{textnum=1;}
        }else{
        alert('给我们留言，分享你的建议吧～');
        }
        };
    
    //序列帧动画1（div，每次动多少，多少张）
    var interval;
    function start(aniPosition,step){
        var i=0;
        interval=setInterval(
        function(){
            
            i += -step;
            aniPosition.css('background-position',"0px " + i + "px");
            console.log(i);
        }, 70);
        
    }  

    var wangyuanjingH=wangyuanjing.height();
    var wanhuatongH=wanhuatong.height();
    var shiguangjiH=shiguangji.height();
    // 用于解决自适应时雪碧图位置错乱的问题
    $(window).resize(function () {          //当浏览器大小变化时
        // 获取新的窗口尺寸
        wangyuanjingH=wangyuanjing.height();
        wanhuatongH=wanhuatong.height();
        shiguangjiH=shiguangji.height();
        
        // wangyuanjing.css('background-position',"bottom");
        // wanhuatong.css('background-position',"bottom");
        // shiguangji.css('background-position',"bottom");
    });

    //鼠标悬停
	contact.mouseenter(
                function () {
                    contact.css({"opacity":"0","width":"20rem","height":"20rem"});
                    $("#noticeUsTitle").css("opacity","1");
                    $("#noticeQR").css("opacity","1");
                });
    contact.mouseleave(
                function () {
                    contact.css({"opacity":"1","width":"26px","height":"26px"});
                    $("#noticeUsTitle").css("opacity","0");
                    $("#noticeQR").css("opacity","0");
                });
    wangyuanjing.mouseenter(
                function () {
                    start($("#hover2"),$("#hover2").height());
                });
    wangyuanjing.mouseleave(
                function () {
                   clearInterval(interval);
                });
    wanhuatong.mouseenter(
                function () {
                   start($("#hover1"),$("#hover1").height());
                });
    wanhuatong.mouseleave(
                function () {
                   clearInterval(interval);
                });
    shiguangji.mouseenter(
                function () {
                  start($("#hover3"),$("#hover3").height());
                });
    shiguangji.mouseleave(
                function () {
                  clearInterval(interval);
                });
    
    
   
       
    //滑动页面
   
    //分割为数组
 
//页面消失函数（页面，背景，文字）
function pageGone(page,which,text){
        page.delay(timeSpace/5).animate({"top":"-100%"},timeSpace,'easeOutCubic');
        $("#front"+which).css("display","block");
        text.animate({"opacity":"0"},timeSpace,'easeOutCubic');
    }
//页面出现函数（背景，文字）
function pageCome(which,text){
        $("#front"+which).css("display","none");
        text.css("opacity","1");
    }

//页面上滑出现函数（页面，背景，文字）
function pageComeUp(page,which,text){
        page.delay(timeSpace/5).animate({"top":"0%"},timeSpace);
        $("#front"+which).css("display","none");
        text.animate({"opacity":"1"},timeSpace);
        }
//页面上滑消失函数（背景，文字）
function pageGoneUp(which,text){
        $("#front"+which).css("display","block");
        text.animate({"opacity":"0"},timeSpace);
       }
//物体出现函数
function objectAppear(who,top){
                who.delay(timeSpace/5).animate({"top":top,"opacity":"1"},timeSpace); 
} 
//物体消失函数
function objectDisappear(who,top){
                who.delay(timeSpace/5).animate({"top":top,"opacity":"0"},timeSpace); 
}
//清空文本
function emptyText(a,b){
                setTimeout(function(){
                a.empty();
                b.empty();
                },timeSpace)  
} 
    
    //浏览器兼容
   if((navigator.userAgent.toLowerCase().indexOf("firefox") != -1)) { window.addEventListener('DOMMouseScroll',scrollFun,{passive:false}); } else if(document.addEventListener) { window.addEventListener('mousewheel',scrollFun,{passive:false}); }
    else if (document.attachEvent) {
        document.attachEvent("onmousewheel", scrollFun);
    }
    else {
        document.onmousewheel = scrollFun;
    }
    
    //滚动事件处理函数
    function scrollFun(event) {
        startTime = new Date().getTime();
        var delta = event.detail || (-event.wheelDelta);
        if ((endTime - startTime) < -1500) {
            
            if (delta > 0) {
//向下滚动       
                
                if(count==4){return ''}else{
                $(".pagenumber").animate({'top':'+=17px'},1000);
                count++;
                    
                //第二页
                if(count==1){
                console.log(count);
                $("#dot1").animate({"margin-bottom":"12px"},1000);
                $("#dot2").animate({"margin-bottom":"35px"},1000);
                pageGone(page1,1,text1);
                pageCome(2,text2);
                $("div #dot1").css("animation","none");
                
                }
                 
                //第三页
                if(count==2){
                $("#dot2").animate({"margin-bottom":"12px"},1000);
                $("#dot3").animate({"margin-bottom":"35px"},1000);
                pageGone(page2,2,text2);
                pageCome(3,text3);
               /* objectDisappear(wanhuatong,"60%");
                objectDisappear(wangyuanjing,"60%");
                objectDisappear(shiguangji,"95%");*/
                /*objectAppear($("#pic3"),"0%");*/
                scenarioChange(); 
                /*textScroll(arr3a,arr3b,main3div1,main3div2);  */          
                }
                    
                //第四页
                if(count==3){
                $("#dot3").animate({"margin-bottom":"12px"},1000);
                $("#dot4").animate({"margin-bottom":"35px"},1000);
                pageGone(page3,3,text3);
                pageCome(4,text4);
                /*objectDisappear($("#pic3"),"40%");*/
                /*objectAppear($("#pic4"),"50%");*/
                /*textScroll(arr4a,arr4b,main4div1,main4div2); */          
                }
                    
                //第五页
                if(count==4){
                $("#dot4").animate({"margin-bottom":"12px"},1000);
                $("#dot5").animate({"margin-bottom":"35px"},1000);
                pageGone(page4,4,text4);
                pageCome(5,text5);
                /*objectDisappear($("#pic4"),"90%");
                objectAppear($("#footer"),"23%");*/
                /*textScroll(arr5a,arr5b,main5div1,main5div2); */       
                } 
                    
                }
                
            }
            if (delta < 0 ) {
//向上滚动
                if(count==0){return ''}else{
                $(".pagenumber").animate({'top':'-=17px'},1000);
                
                    
                //第四页
                if(count==4){
                $("#dot5").animate({"margin-bottom":"12px"},1000);
                $("#dot4").animate({"margin-bottom":"35px"},1000);
                pageComeUp(page4,4,text4); 
                pageGoneUp(5,text5);
                }
                
                //第三页
                if(count==3){
                $("#dot4").animate({"margin-bottom":"12px"},1000);
                $("#dot3").animate({"margin-bottom":"35px"},1000);
                pageComeUp(page3,3,text3); 
                pageGoneUp(4,text4);
                }
                    
                //第二页
                if(count==2){
                $("#dot3").animate({"margin-bottom":"12px"},1000);
                $("#dot2").animate({"margin-bottom":"35px"},1000);
                pageComeUp(page2,2,text2); 
                pageGoneUp(3,text3);
                }
                    
                //第一页
                if(count==1){
                $("#dot2").animate({"margin-bottom":"12px"},1000);
                $("#dot1").animate({"margin-bottom":"35px"},1000);  
                pageComeUp(page1,1,text1); 
                pageGoneUp(2,text2);
                $("div #dot1").css("animation","dothint 1s linear infinite");
    
                            } 
                count--;
                }
                
            }
            endTime = new Date().getTime();
        }
        else {
            event.preventDefault();
        }
    }}
    
//应用场景轮播-鼠标悬停
var moveTime=800;
function scenarioChange(){
    var scrolldiv=document.getElementsByClassName("flexslider");
    var currentSlide=1;
    var nextSlide=currentSlide+1;
    var interval;
    
    function startslide(){
    interval=setInterval(function(){
    if(currentSlide==1){
    $("#scenario1 .icon").css("opacity","0");
    $("#scenario1 p").css("opacity","0");
    }
        
    $("#scenario"+currentSlide).animate({'width':'8.5vw'},moveTime,'easeOutCirc');
    $("#sceText"+currentSlide).animate({'width':'8.5vw','opacity':'0'},moveTime,'easeOutCirc');
    $("#scenario"+currentSlide+" .scecover").animate({'opacity':'1'},moveTime,'easeOutCirc',function(){
    $("#scenario"+currentSlide+" .icon").css("opacity","1");
    $("#scenario"+currentSlide+" p").css("opacity","1"); 
    });
    
    $("#scenario"+nextSlide+" .icon").css("opacity","0");
    $("#scenario"+nextSlide+" p").css("opacity","0");    
    $("#scenario"+nextSlide+" .scecover").animate({'opacity':'0'},moveTime,'easeOutCirc');
    $("#sceText"+nextSlide).animate({'width':'60vw','opacity':'1'},moveTime,'easeOutCirc');
    $("#scenario"+nextSlide).animate({'width':'60vw'},moveTime,'easeOutCirc',function(){
        currentSlide=nextSlide;
        nextSlide++;
    });
    if(currentSlide==4){
        $("#scenario"+currentSlide).animate({'width':'8.5vw'},moveTime,'easeOutCirc');
        $("#sceText"+currentSlide).animate({'width':'8.5vw','opacity':'0'},moveTime,'easeOutCirc');
        $("#scenario"+currentSlide+" .scecover").animate({'opacity':'1'},moveTime,'easeOutCirc',function(){
        $("#scenario"+currentSlide+" .icon").css("opacity","1");
        $("#scenario"+currentSlide+" p").css("opacity","1"); 
        });
        
        $("#scenario1 .icon").css("opacity","0"); 
        $("#scenario1 p").css("opacity","0"); 
        $("#scenario1 .scecover").animate({'opacity':'0'},moveTime,'easeOutCirc');
        $("#scenario1").animate({'width':'60vw'},moveTime,'easeOutCirc');
        $("#sceText1").animate({'width':'60vw','opacity':'1'},moveTime,'easeOutCirc',function(){
        currentSlide=1;
        nextSlide=currentSlide+1;
        });          
    }
    },3000);}
    
    function pauseslide(){
        clearInterval(interval);
    }
    
    function scenarioClick(which){
        //有时间的时候优化成点一下其他几个都做收起运动！！！
        if(which!=currentSlide){
        //which展开
        $("#scenario"+which+" .icon").css("opacity","0");
        $("#scenario"+which+" p").css("opacity","0"); 
        $("#sceText"+which).animate({'width':'60vw','opacity':'1'},moveTime,'easeOutCirc');
        $("#scenario"+which).animate({'width':'60vw'},moveTime,'easeOutCirc');
        $("#scenario"+which+" .scecover").animate({'opacity':'0'},moveTime,'easeOutCirc');
        
        $("#scenario"+(which+1)+" .icon").css("opacity","1");
        $("#scenario"+(which+1)+" p").css("opacity","1"); 
        
        //currentSlide收起
        $("#scenario"+currentSlide).animate({'width':'8.5vw'},moveTime,'easeOutCirc'); 
        $("#scenario"+currentSlide+" .scecover").animate({'opacity':'1'},moveTime,'easeOutCirc');
        $("#sceText"+currentSlide).animate({'width':'8.5vw','opacity':'0'},moveTime,'easeOutCirc',function(){
            $("#scenario"+currentSlide+" .icon").css("opacity","1");
            $("#scenario"+currentSlide+" p").css("opacity","1"); 
            currentSlide=which;
            nextSlide=currentSlide+1;
            if(which==4){
            nextSlide=1;
            }
        });
        }
    }
    

    
    $(".scenario").on("mouseenter",pauseslide).on("mouseleave",startslide);
    $("#scenario1").on("click",function(){scenarioClick(1)});
    $("#scenario2").on("click",function(){scenarioClick(2)});
    $("#scenario3").on("click",function(){scenarioClick(3)});
    $("#scenario4").on("click",function(){scenarioClick(4)});
    startslide();
};
    
    
//近期动态hover状态
function recentHover(which){
$("#recenthover"+which).on("mouseenter",function(){
    $("#recentText"+which).css("display","block");
    $("#recent"+which).css("filter","grayscale(0%)");
}).on("mouseleave",function(){
    $("#recentText"+which).css("display","none");
    $("#recent"+which).css("filter","grayscale(100%)");
});    
}
recentHover(1);recentHover(2);recentHover(3);recentHover(4);recentHover(5);recentHover(6);

//鼠标动元素动
  document.onmousemove = function move (event) {  
            event = event || window.event;  
            //2.获取鼠标在整个页面的位置  
            var pagex = event.pageX || scroll().left + event.clientX; 
            var pagey = event.pageY || scroll().top + event.clientY; 
            $("#dec1").css("transform","translate("+pagex*-0.03+"px,"+pagey*-0.03+"px)");
            $("#dec2").css("transform","translate("+pagex*-0.01+"px,"+pagey*-0.01+"px)");
            $("#dec3").css("transform","translate("+pagex*-0.03+"px,"+pagey*-0.03+"px)");
            
  $("#scedec1").css("transform","translate("+pagex*-0.05+"px,"+pagey*-0.05+"px) rotate(-15deg)");
  $("#scedec2").css("transform","translate("+pagex*-0.05+"px,"+pagey*-0.05+"px) rotate(-20deg)");
  $("#scedec3").css("transform","translate("+pagex*-0.03+"px,"+pagey*-0.03+"px)");
  $(".recentTextA").css("transform","translate("+pagex*0.02+"px,"+pagey*0.02+"px)");
  $(".recentTextB").css("transform","translate("+pagex*0.02+"px,"+pagey*0.02+"px)");
  $("#recentdec").css("transform","translate("+pagex*-0.02+"px,"+"-50%)");
        }

</script>
    
</body>
</html>