<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>风格迁移</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?696a3cbdb1f298b19a1542baf4fb0043";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="{{ url_for('staticfile', filename='css/transfer.css')}}">
    <script src="{{ url_for('staticfile', filename='js/jquery.min.js')}}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('staticfile', filename='image/favicon.png')}}">
</head>

<body>
<!--页面信息-->
<div id="landing">
<div id="back"><img src="{{ url_for('staticfile', filename='image/colorrun.png')}}"/></div>
<div id="front"> </div>
<div id="mask"><img src="{{ url_for('staticfile', filename='image/colorrun2.png')}}"/></div>
</div>
<div id="title">
<h1>万花筒-风格迁移工具</h1>
<p>利用风格迁移算法，实现100+不同视觉风格的实时转换，产出艺术化素材。</p>
<button id="gotoTry">试试看</button>
</div>
<!--向下滚-->
<div id="scroll">
<div id="pro">

<div id="proSub">
<div class="proSub1">
<div id="proicon1">
<div class="icon1"></div><div class="icon2"></div><div class="icon3"></div><div class="icon4"></div> 
</div>
<div class="proh3"><h3>风格多样</h3></div>
<div class="prop"><p>100+不同风格模型,覆盖需求范围广</p></div>
</div>
<div class="proSub1">
<div id="proicon2">
<div class="icon1"></div><div class="icon4"></div> <div class="icon2"></div><div class="icon3"></div>    
</div>
<div class="proh3"><h3>支持定制</h3></div>
<div class="prop"><p>一张参考图,即可打造专属风格模型</p></div> 
</div>
<div class="proSub1">
<div id="proicon3">
<div class="icon1"></div>
<div class="icon3">
    <video width="100%" height="100%" autoplay muted loop>
        <source src="{{ url_for('staticfile', filename='image/sea.mp4')}}" type="video/mp4">
    </video>
</div> 
<div class="icon2">
    <video width="100%" height="100%" autoplay muted loop>
        <source src="{{ url_for('staticfile', filename='image/sea1.mp4')}}" type="video/mp4">
    </video> 
</div>    
</div>
<div class="proh3"><h3>实时转换</h3></div>
<div class="prop"><p>支持图片速转及视频流实时转换</p></div>
</div>
</div>
</div>
    
<!--能力演示-->
<div id="studyProcess">
<div class="mainInfo" id="studyInfo">
<div><h1>能力演示</h1></div>
<div><p>选择图像体验风格转换能力，该能力演示基于<a href="#">风格迁移API</a>搭建，
如果您对技术能力有特别要求，欢迎联系我们。</p></div>
</div>
    

<div id="tryAbility">
<div class="sideByside1">
<div id="before">
<div><p>原图</p></div>
</div>
<div id="upload">
<div class="originpic1" onclick="pic1Click()"><div id="originpic1"><p>例1</p></div></div>
<div class="originpic2" onclick="pic2Click()"><div id="originpic2"><p>例2</p></div></div> 
<div class="originpic3" onclick="pic3Click()"><div id="originpic3"><p>例3</p></div></div> 
    
<input type="file" id="myFile" accept="image/jpeg,image/png,image/jpg" name="filename" onchange="changepic(this,event)">
<label for="myFile" id="inputLabel">上传图片</label>
    
</div>
</div> 

<div class="sideByside2">
<div id="after">
<div><p>效果</p></div>    
</div>
<div id="styleChoose">
<div class="style1"><div id="style1"><p>月光</p></div></div>
<div class="style2"><div id="style2"><p>素雅</p></div></div>
<div class="style3"><div id="style3"><p>斑斓</p></div></div>
<div class="style4"><div id="style4"><p>星空</p></div></div>
<div class="style5"><div id="style5"><p>水波</p></div></div>    
</div> 
</div>  
</div>   

    

</div>
    
<!--应用案例-->
<div id="case">
<div id="dec1"></div>
<div id="dec2"></div>
<div id="dec3"></div>
<div id="dec4"></div>
<div class="mainInfo" id="caseInfo">
<div><h1>应用案例</h1></div>
<div><p>支持静态图或动态视频流实时转换风格</p></div>
</div>
<div class="pic" id="pic4">
        <div class="box">
        <div class="flexslider">
        <div><img src="{{ url_for('staticfile', filename='image/3.png')}}" />
        </div>
        <div>
        <video width="100%" height="100%" autoplay muted loop>
        <source src="{{ url_for('staticfile', filename='image/test.mp4')}}" type="video/mp4">
        </video>
        </div>
        <div>
        <video width="100%" height="100%" autoplay muted loop>
        <source src="{{ url_for('staticfile', filename='image/test.mp4')}}" type="video/mp4">
        </video>    
        </div>
        <div><img src="{{ url_for('staticfile', filename='image/3.png')}}" /></div>
        </div>
        </div> 
</div>
</div>
<!--其他能力-->
<div id="more">
<div class="mainInfo" id="moreInfo">
<div><h1>尝试其他小绘智能设计能力</h1></div>
</div>
<div id="moreSub">
    
<div onclick="window.location.href= '/gdesign';return false">
<div class="othericon"></div>
<div><h3>望远镜</h3><p>背景拓展工具</p></div>
<div></div>
</div>
    
<div onclick="window.location.href= '/cross';return false">
<div class="othericon"></div>
<div><h3>时光机</h3><p>肖像绘制工具</p></div>
</div>
    
</div>
</div>
    
<!--页脚-->
<div id="footer"> 
<div id="leftSide">
<div></div>
<p id="groupName">联想研究院用户体验设计</p> 
<p id="email">联系邮箱：yangzhi3@lenovo.com</p>

</div>   
<div id="rightSide">
<p>关注公众号“联想研究院UXD”<br>获取更多有趣的资讯~</p>
<div></div>
</div> 
</div>
<div id="line"></div>
<div id="middleSide"><p><span>Made with</span> 🧡❤️🧡❤️🧡❤️🧡 <span>by UXD Lenovo Research</span></p></div>  
</div>

<!--不动产-->
<div id="navback"></div>
<div class="nav">
      
        <div class="logo">
                <a href="/">
                <img src="{{ url_for('staticfile', filename='image/logowhite.svg')}}" width=100% height=auto />
                </a>
        </div>
        
        <nav class="dropdownmenu">
        <ul>
        <li><a href="/" class="mainMenu">主页</a></li>
        <li id="gdesign"><a href="#" class="mainMenu">能力展示</a>
        <ul id="submenu">
        <li><a href="/gdesign">望远镜</a></li>
        <li><a href="/transfer">万花筒</a></li>
        <li><a href="/cross">时光机</a></li>
        </ul>
        </li>
        <li><a href="#" class="mainMenu">API接入</a></li>
        <li><a href="/about" class="mainMenu">关于我</a></li>
        </ul>
        </nav>
            
        <div class="english">
         <a href="#">
         <p>EN</p>
         </a>
        </div>
</div>


    
<!--js代码-->
<script type="text/javascript"> 
    //赋值变量
    var tryPosition = $('#studyProcess').offset().top;
    var oBox = document.getElementById('mask'),
        windowTop=0,
        windowH=window.innerHeight,
        windowW=window.innerHeight,
        proDiv=document.getElementById("pro"),
        proH=proDiv.offsetHeight,
        videoH=document.getElementById("studyProcess").offsetHeight,
        leftdownHint=$(".leftdown div"),
        scrolldiv=document.getElementsByClassName("flexslider"),
        leftdownSvg=$(".leftdown svg g g "),
        contactSvg=$(".contact svg g g "),
        logoChange=$("#logoChange g g"),
        english=$(".english a"),
        mainMenu=$(".mainMenu"),
        normalGray="#444553",
        whiteColor="white",
        contact=$(".contact"),
        leftDown=$(".leftdown"),
        flexslider=$(".flexslider"),
        qrcode=$(".qrcode"),
        qrcodeP=$(".qrcode p"),
        timeSpace=500;
    //页面加载
    window.onload=function(){
        /*点击试试看页面滑动*/
        $("#title button").on("click",function(){
            window.scrollTo({ 
            top: tryPosition, 
            behavior: "smooth" 
        });
        })
        //鼠标悬停
        contact.mouseenter(
                function () {
                    qrcode.css("width","20rem").css("height","24rem");
                    qrcodeP.css("opacity","1");
                    contact.css("opacity","1");
                });
        contact.mouseleave(
                function () {
                    qrcode.css("width","0rem").css("height","0rem");
                    qrcodeP.css("opacity","0");
                    contact.css("opacity","0.8");
                });
        
        slider(flexslider,4,160*0.35);
        
        //探照灯
        window.onmousemove = function(e){
        e = e || event;
        oBox.style.WebkitMaskPosition=(e.clientX/10-25)+"rem "+ (e.clientY/10-25)+"rem";
        }
        
        //走马灯
        function slider(who,totalSlides,width){
        var currentSlide=1;
        var interval;
        function startslide(){
        interval=setInterval(function(){
        who.animate({'margin-left':'-='+width+'vw'},timeSpace*2,function(){
        currentSlide++;
            if(currentSlide==totalSlides){
                currentSlide=1;
                who.css("margin-left",0);
            }
        });
        },3000);}
        function pauseslide(){
        clearInterval(interval);
        }
        $(".box").on("mouseenter",pauseslide).on("mouseleave",startslide);
        startslide();
        };
        
         // 上下滑动
        $(window).scroll(function() {
        let scrollS = $(this).scrollTop();
        
        //导航变化
        if(scrollS>10){
        $(".nav").css("top","9px");// 上滑时要做的事（上移一点）
        $("#navback").css("opacity","1");   
        }else{
        $(".nav").css("top","30px");// 上滑时要做的事（上移一点）
        $("#navback").css("opacity","0");  
        }
        
        //滚动页面动效
        var disappear=1-(scrollS/windowH)*2;
        $("#title").css("opacity",disappear);
        var coverOpacity=((scrollS-(proH+windowH))/windowH);
        $("#videoCover").css("opacity",coverOpacity); 
            
        //图形元素微动
        if(scrollS>tryPosition){
            var squreMove=250-scrollS*0.2;
            $("#dec1").css("transform","translateY("+squreMove+"px)");
            $("#dec2").css("transform","translateY("+(-squreMove)+"px)");
            $("#dec3").css("transform","translateY("+squreMove+"px)");
            $("#dec4").css("transform","translateY("+(-squreMove)+"px)");
        }
            
        var pM=scrollS*0.05; 
        $("#proicon1 .icon1").css("transform","translateY("+(-pM)+"px)");
        $("#proicon1 .icon2").css("transform","translateY("+pM+"px)");
        $("#proicon1 .icon3").css("transform","translateY("+(-pM)+"px)");
        $("#proicon1 .icon4").css("transform","translateY("+pM+"px)");
        
        $("#proicon2 .icon1").css("transform","translateY("+(-pM)+"px)");
        $("#proicon2 .icon2").css("transform","translateY("+(-pM)+"px)");
        $("#proicon2 .icon3").css("transform","translateY("+pM+"px)");
        $("#proicon2 .icon4").css("transform","translateY("+(-pM)+"px)");
            
        $("#proicon3 .icon1").css("transform","translateY("+(-pM)+"px)");
        $("#proicon3 .icon2").css("transform","translateY("+(-pM)+"px)");
        $("#proicon3 .icon3").css("transform","translateY("+pM+"px)");
     
        });
    }
    //表单部分
    
    var camp="{{ url_for('staticfile', filename='image/camp.png')}}";
    var scooter="{{ url_for('staticfile', filename='image/scooter.png')}}";
    var dog="{{ url_for('staticfile', filename='image/dog.png')}}";
    var camp1="{{ url_for('staticfile', filename='image/camp1.png')}}";
    var scooter1="{{ url_for('staticfile', filename='image/scooter1.png')}}";
    var dog1="{{ url_for('staticfile', filename='image/dog1.png')}}";
    var camp2="{{ url_for('staticfile', filename='image/camp2.png')}}";
    var scooter2="{{ url_for('staticfile', filename='image/scooter2.png')}}";
    var dog2="{{ url_for('staticfile', filename='image/dog2.png')}}";
    var camp3="{{ url_for('staticfile', filename='image/camp3.png')}}";
    var scooter3="{{ url_for('staticfile', filename='image/scooter3.png')}}";
    var dog3="{{ url_for('staticfile', filename='image/dog3.png')}}";
    var camp4="{{ url_for('staticfile', filename='image/camp4.png')}}";
    var scooter4="{{ url_for('staticfile', filename='image/scooter4.png')}}";
    var dog4="{{ url_for('staticfile', filename='image/dog4.png')}}";
    var camp5="{{ url_for('staticfile', filename='image/camp5.png')}}";
    var scooter5="{{ url_for('staticfile', filename='image/scooter5.png')}}";
    var dog5="{{ url_for('staticfile', filename='image/dog5.png')}}";
    var blackback="{{ url_for('staticfile', filename='image/blackback.png')}}";
    
    //切换已有原图
    
    styleChange(camp1,camp2,camp3,camp4,camp5);

    function pic1Click(){
        changePlaceholder(camp,camp1);
        styleChange(camp1,camp2,camp3,camp4,camp5);
        styleBorder("#originpic",1,3);
        $(".style1").css("background-image","url('../static/image/camp1.png')");
        $(".style2").css("background-image","url(../static/image/camp2.png)");
        $(".style3").css("background-image","url(../static/image/camp3.png)");
        $(".style4").css("background-image","url(../static/image/camp4.png)");
        $(".style5").css("background-image","url(../static/image/camp5.png)");   
    };

    function pic2Click(){
        changePlaceholder(scooter,scooter1);
        styleChange(scooter1,scooter2,scooter3,scooter4,scooter5);
        styleBorder("#originpic",2,3);
        $(".style1").css("background-image","url(../static/image/scooter1.png)");
        $(".style2").css("background-image","url(../static/image/scooter2.png)");
        $(".style3").css("background-image","url(../static/image/scooter3.png)");
        $(".style4").css("background-image","url(../static/image/scooter4.png)");
        $(".style5").css("background-image","url(../static/image/scooter5.png)");
    };

    function pic3Click(){
        changePlaceholder(dog,dog1);
        styleChange(dog1,dog2,dog3,dog4,dog5);
        styleBorder("#originpic",3,3);
        $(".style1").css("background-image","url(../static/image/dog1.png)");
        $(".style2").css("background-image","url(../static/image/dog2.png)");
        $(".style3").css("background-image","url(../static/image/dog3.png)");
        $(".style4").css("background-image","url(../static/image/dog4.png)");
        $(".style5").css("background-image","url(../static/image/dog5.png)");
    };

    $("#originpic1").trigger("click");
    
    
    function changepic(obj,event) {
        var newsrc=getObjectURL(obj.files[0]);
        $("#before").css("backgroundImage","url("+newsrc+")");
        $("#after").css("backgroundImage","url("+blackback+")");
        //base64转换
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(event) {
        var imgbase=event.target.result;
        var imgbaseBack=imgbase.split(",")[1];
        var imgbaseFront=imgbase.split(",")[0]
        
        // var styleNum=1;
        
            var imgInfo1={
            "Base64Data":imgbaseBack,
            "style":1-1,
            };

            var imgInfo2={
            "Base64Data":imgbaseBack,
            "style":2-1,
            };

            var imgInfo3={
            "Base64Data":imgbaseBack,
            "style":3-1,
            };

            var imgInfo4={
            "Base64Data":imgbaseBack,
            "style":4-1,
            };

            var imgInfo5={
            "Base64Data":imgbaseBack,
            "style":5-1,
            };

            var ajaxData1,
                ajaxData2,
                ajaxData3,
                ajaxData4,
                ajaxData5;

            $.ajax({
            type:'POST',
            url:'/style-transfer',
            contentType:'application/json',
            data:JSON.stringify(imgInfo1),
            dataType:'json',
            success:function(data){
            var finaldata=imgbaseFront+","+data.result;
            $(".style1").css("background-image","url("+finaldata+")"); 
            ajaxData1=finaldata;
            $("#after").css("background-image","url("+ajaxData1+")");
            },
            error:function(err){
            console.log(err);
            },
            });

            $.ajax({
            type:'POST',
            url:'/style-transfer',
            contentType:'application/json',
            data:JSON.stringify(imgInfo2),
            dataType:'json',
            success:function(data){
            var finaldata=imgbaseFront+","+data.result;
            $(".style2").css("background-image","url("+finaldata+")"); 
            ajaxData2=finaldata;
            },
            error:function(err){
            console.log(err);
            },
            });

            $.ajax({
            type:'POST',
            url:'/style-transfer',
            contentType:'application/json',
            data:JSON.stringify(imgInfo3),
            dataType:'json',
            success:function(data){
            var finaldata=imgbaseFront+","+data.result;
            $(".style3").css("background-image","url("+finaldata+")"); 
            ajaxData3=finaldata;
            },
            error:function(err){
            console.log(err);
            },
            });

            $.ajax({
            type:'POST',
            url:'/style-transfer',
            contentType:'application/json',
            data:JSON.stringify(imgInfo4),
            dataType:'json',
            success:function(data){
            var finaldata=imgbaseFront+","+data.result;
            $(".style4").css("background-image","url("+finaldata+")"); 
            ajaxData4=finaldata;
            },
            error:function(err){
            console.log(err);
            },
            });

            $.ajax({
            type:'POST',
            url:'/style-transfer',
            contentType:'application/json',
            data:JSON.stringify(imgInfo5),
            dataType:'json',
            success:function(data){
            var finaldata=imgbaseFront+","+data.result;
            $(".style5").css("background-image","url("+finaldata+")"); 
            ajaxData5=finaldata;
            },
            error:function(err){
            console.log(err);
            },
            });

            $("#style1").click(function(){$("#after").css("background-image","url("+ajaxData1+")");
            styleBorder("#style",1,5);                      
                                     });
       
        $("#style2").click(function(){$("#after").css("background-image","url("+ajaxData2+")");
         styleBorder("#style",2,5); 
                                     });
       
        $("#style3").click(function(){$("#after").css("background-image","url("+ajaxData3+")");
         styleBorder("#style",3,5); 
                                     });
    
        $("#style4").click(function(){$("#after").css("background-image","url("+ajaxData4+")");
         styleBorder("#style",4,5); 
                                     });

        $("#style5").click(function(){$("#after").css("background-image","url("+ajaxData5+")");
         styleBorder("#style",5,5); 
                                     });

        };
        reader.readAsDataURL(file);
        console.log("haha");
        
    }
   
    
    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null ;
        // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
            }
            return url ;
    }
    
    //按钮状态改变
    function styleBorder(which,num,total){
        for(i=1;i<=total;i++){
            if(i==num){
            $(which+i).css("border","3px solid #5376FF");
            }else{
            $(which+i).css("border","none");  
            }
        }  
    }
    
    //切换风格图
    function styleChange(sty1,sty2,sty3,sty4,sty5){
        
        
        $("#style1").click(function(){$("#after").css("background-image","url("+sty1+")");
         styleBorder("#style",1,5);                      
                                     });
       
        $("#style2").click(function(){$("#after").css("background-image","url("+sty2+")");
         styleBorder("#style",2,5); 
                                     });
       
        $("#style3").click(function(){$("#after").css("background-image","url("+sty3+")");
         styleBorder("#style",3,5); 
                                     });
    
        $("#style4").click(function(){$("#after").css("background-image","url("+sty4+")");
         styleBorder("#style",4,5); 
                                     });

        $("#style5").click(function(){$("#after").css("background-image","url("+sty5+")");
         styleBorder("#style",5,5); 
                                     });
        
        $("#style1").trigger("click");
        };
    
    //替换占位图
    function changePlaceholder(toWhat,which){
        $("#before").css("backgroundImage","url("+toWhat+")");
        $("#after").css("backgroundImage","url("+which+")");
    }
  
                    
</script> 
</body>
  
    
   

</html>
